# Summary

1. problem.csv
    - ë°±ì¤€ì˜ ê° ë¬¸ì œ í˜ì´ì§€ í¬ë¡¤ë§ + api ìˆ˜ì§‘
    - ì´ 23,090ê°œì˜ ë¬¸ì œ (1000~25150ë²ˆ)  
    
    <br>
    
    [problem_id] - ë¬¸ì œ ë²ˆí˜¸  
    - 23,090ê°œì˜ ë¬¸ì œ ì¡´ì¬ (1000~25150ë²ˆ)  

    [level] - ë¬¸ì œì˜ ë‚œì´ë„ (unranked~ë£¨ë¹„)  
    - 0~30ê¹Œì§€ ì¡´ì¬ (0 : unranked)  
    - í‰ê·  9(ì‹¤ë²„ 2)  
      
    [average_tries] - í‰ê·  ì‹œë„ íšŸìˆ˜  
    - 0ë²ˆ ~ 7340ë²ˆê¹Œì§€ ì¡´ì¬, í‰ê·  2.45ë²ˆ (3ì‚¬ë¶„ìœ„ 2.65ë²ˆ)  
    - í‰ê·  ì‹œë„ íšŸìˆ˜ê°€ 50ë²ˆì¸ ë¬¸ì œëŠ” 10ê°œ  
        â†’ unranked 8ë¬¸ì œ, 24í‹°ì–´(ë‹¤ì´ì•„2) ë¬¸ì œ, 25í‹°ì–´(ë‹¤ì´ì•„1) 1ë¬¸ì œ  
        â†’ ì´ ì¤‘ clean_problemì— ì¡´ì¬í•˜ëŠ” ë¬¸ì œëŠ” 2ë¬¸ì œ (ë‹¤ì´ì•„ 2ë¬¸ì œ), ì‹œë„í•œ ìœ ì €ëŠ” ê°ê° 7ëª…, 12ëª…  
    
    [problem_association] - í•´ë‹¹ ë¬¸ì œì™€ ë¹„ìŠ·í•œ ë¬¸ì œ  
    - 79ê°œ ì¡´ì¬ â†’ clean_problemì—ëŠ” 75ê°œ ì¡´ì¬ 
        - í•œêµ­ì–´X : 10444, 15548
        - levelë†’ìŒ : 10724, 10735

    [problem_tags] - íƒœê·¸ (ì•Œê³ ë¦¬ì¦˜ ë¶„ë¥˜)
    - íƒœê·¸ ì¡´ì¬ ì—¬ë¶€
    - íƒœê·¸ ì¡´ì¬ : 14,335ê°œ ë¬¸ì œ / íƒœê·¸ ë¯¸ì¡´ì¬ : 8,755ê°œ ë¬¸ì œ
    - íƒœê·¸ ê°œìˆ˜ : 186ê°œ
        - ë¬¸ì œ ë‹¹ ìµœì†Œ 1ê°œ ~ ìµœëŒ€ 22ê°œì˜ íƒœê·¸ê°€ ì¡´ì¬
            - 22ê°œì˜ íƒœê·¸ê°€ ì¡´ì¬í•˜ëŠ” ë¬¸ì œ : 17463ë²ˆ ë¬¸ì œ â†’ cleanì—ëŠ” ì—†ì–´ì„œ ê·¸ëƒ¥ íŒ¨ìŠ¤
            - íƒœê·¸ê°€ 10ê°œ ì´ìƒ ì¡´ì¬í•˜ëŠ” ë¬¸ì œ : 24ê°œ â†’ cleanì—ëŠ” 7ê°œ
            - ê°€ì¥ ë§ì´ ë“±ì¥í•œ íƒœê·¸ ë° ì¹´ìš´íŠ¸ :
                [('math', 3910), ('implementation', 3490), ('dp', 2461), ('graphs', 2304), ('data_structures', 2252), ('string', 1575), ('greedy', 1371), ('bruteforcing', 1344), ('graph_traversal', 1261), ('sorting', 1060)]
            - ê°€ì¥ ì ê²Œ ë“±ì¥í•œ íƒœê·¸ ë° ì¹´ìš´íŠ¸ :
                [('green', 3), ('tree_compression', 3), ('utf8', 3), ('generating_function', 3), ('pick', 2), ('majority_vote', 2), ('chordal_graph', 2), ('top_tree', 2), ('a_star', 1), ('rb_tree', 1)]

<br>

2. clean_problem
    - í‘¼ ì‚¬ëŒì´ ì—†ëŠ” ë¬¸ì œ, í•œêµ­ì–´ê°€ ì•„ë‹Œ ë¬¸ì œ

    <br>

    [problem_id] - ë¬¸ì œ ë²ˆí˜¸
    - 6,866ê°œì˜ ë¬¸ì œ ì¡´ì¬ (1000~25150ë²ˆ)

    [problem_tags] - íƒœê·¸ (ì•Œê³ ë¦¬ì¦˜ ë¶„ë¥˜)
    - íƒœê·¸ ì¡´ì¬ : 6,722 ë¬¸ì œ / íƒœê·¸ ë¯¸ì¡´ì¬ : 144 ë¬¸ì œ
    â†’ ì œì™¸í•œ ë°ì´í„°ì˜ ê²½ìš° íƒœê·¸ê°€ ì œëŒ€ë¡œ ë‹¬ë ¤ìˆì§€ ì•Šì€ ë°ì´í„°ê°€ ë§ì•˜ë‹¤ëŠ” ê±¸ ì•Œ ìˆ˜ ìˆìŒ
    - íƒœê·¸ ê°œìˆ˜ : 176ê°œ
    - ê°€ì¥ ë§ì´ ë“±ì¥í•œ íƒœê·¸ ë° ì¹´ìš´íŠ¸ :
    [('math', 1832), ('implementation', 1556), ('dp', 1261), ('graphs', 1072), ('data_structures', 997), ('string', 626), ('graph_traversal', 608), ('bruteforcing', 598), ('greedy', 577), ('sorting', 495)]
    - ê°€ì¥ ì ê²Œ ë“±ì¥í•œ íƒœê·¸ ë° ì¹´ìš´íŠ¸ :
    [('general_matching', 2), ('bipartite_graph', 2), ('dominator_tree', 1), ('voronoi', 1), ('directed_mst', 1), ('tree_compression', 1), ('discrete_sqrt', 1), ('bayes', 1), ('pick', 1), ('generating_function', 1)]
    - ë‹¨ì¼ë¡œ 1000ê°œ ì´ìƒ ì¡´ì¬í•˜ëŠ” íƒœê·¸ :
        math : 1832 / implementation : 1556 / dp : 1261 / graphs : 1072

    [average_tries] - í‰ê·  ì‹œë„ íšŸìˆ˜
    - 1ë²ˆ ~ 65.8ë²ˆê¹Œì§€ ì¡´ì¬, í‰ê·  2.88ë²ˆ (3ì‚¬ë¶„ìœ„ 3.36)
    
    [level] - ë‚œì´ë„
    - problemê³¼ clean_problem ë¹„êµ  â†’ 21~25(ë‹¤ì´ì•„ëª¬ë“œ í‹°ì–´)ì—ì„œ ìœ ë… í° ê°ì†Œìœ¨(60ì´ìƒ)ì„ ë³´ì„
    - problem : ë ˆë²¨ë³„ ë¬¸ì œ ìˆ˜ / clean_problem : ë ˆë²¨ë³„ ë¬¸ì œ ìˆ˜ / diff : ë ˆë²¨ë³„ problemê³¼ clean_problemì˜ ì°¨ì´ / diff_per : ê°ì†Œìœ¨

<br>

3. score.csv - all problem
    - ì´ 4,742,223ê°œì˜ rows

    [user_name] - 19,918ëª…ì˜ ìœ ì €ê°€ ë¬¸ì œë¥¼ í‘¼ ê¸°ë¡   
        - í•œ ëª…ë‹¹ ìµœì†Œ 1ë²ˆ ~ ìµœëŒ€ 106,162ë²ˆ(xiaowuc1 â†’ 2ìœ„), í‰ê·  238ë²ˆì˜ ì±„ì  ê¸°ë¡

    [problem_id] - 19,803ë¬¸ì œë¥¼ í’€ì—ˆìŒ
        - í•œ ë¬¸ì œë‹¹ ìµœì†Œ 1ëª… ~ ìµœëŒ€ 10,367ëª…ì´ í’€ì—ˆìŒ, í‰ê·  239ëª…ì´ í’€ì—ˆìŒ (75%ë„ 284ëª… ìˆ˜ì¤€)

<br> 

4. score.csv - clean problem
    - ì´ 2,249,860ê°œì˜ rows â†’ problem_idê¹Œì§€ ì ìš©í•˜ë©´ 1,984,978ê°œì˜ rows
 
    4-1. targetë§Œ clean score

    [user_name] - 16,407ëª…ì˜ ìœ ì €ê°€ clean target ë¬¸ì œë¥¼ í’€ì—ˆìŒ   
        â†’ ì œì™¸ëœ íƒ€ê²Ÿ ë¬¸ì œëŠ” 16,224ê°œì§€ë§Œ, ì œì™¸ëœ íƒ€ê²Ÿ ë¬¸ì œë§Œì„ í‘¼ ìœ ì €ëŠ” 2511ë¿ì„      
  
    [problem_id] - clean problemì— í•´ë‹¹í•˜ëŠ” targetì„ í’€ê¸°ì „ ìœ ì €ë“¤ì´ í‘¼ ë¬¸ì œëŠ” 17,369ë¬¸ì œ(nunique)        
        - clean targetì— í•´ë‹¹í•˜ëŠ” ë¬¸ì œëŠ” ëª¨ë‘ problem_idì— ì†í•¨     
        â†’ ì¦‰, clean targetì— í•´ë‹¹í•˜ëŠ” ë¬¸ì œë“¤ì€ ëª¨ë‘ ë‹¤ë¥¸ ë¬¸ì œë¥¼ í’€ê¸° ìœ„í•œ ë‹¨ê³„ ë¬¸ì œì— ì†í•¨     


    4-2. target & problem_id clean score (all_clean_score)
    
    [ìœ ì €ë³„ íƒìƒ‰(all_clean_score_user)]    
        - 16,405ëª…ì˜ ìœ ì €ê°€ clean target ë¬¸ì œë¥¼ í’€ì—ˆìŒ   
        â†’ clean ë¬¸ì œë¥¼ í’€ê¸°ê¹Œì§€ cleanë¬¸ì œë¥¼ ê±°ì¹˜ì§€ ì•Šì€ ìœ ì €ëŠ” 2ëª…(16407 â†’ 16405)   
        â†’ ì¦‰, clean ë¬¸ì œë¥¼ í‘¸ëŠ” ëŒ€ë¶€ë¶„ì˜ ìœ ì €ëŠ” ê²½ìš° clean ë¬¸ì œë¥¼ ë‹¨ê³„ ë¬¸ì œë¡œ í™œìš©í•¨   

    [ì–¸ì–´ë³„ íƒìƒ‰(all_clean_score_langueage)] - 82ê°€ì§€ì˜ ì–¸ì–´   
        - ì–¸ì–´ë‹¹ 1ë²ˆ ~ 861,176ë²ˆì˜ ì œì¶œ,  í‰ê·  24,207ë²ˆì˜ ì œì¶œ
        - ìƒìœ„ 20ê°œì˜ ì–¸ì–´ ë° ì œì¶œ íšŸìˆ˜ [TOP5: C++17 - Python3 - PyPy3 - Java 11 - C++14]

    4-3. non_clean_score

    [(all_clean - clean) user íƒìƒ‰]  
        - all_clean - clean : clean targetë¬¸ì œë¥¼ ìœ„í•œ ë‹¨ê³„ ë¬¸ì œë¡œ non clean ë¬¸ì œë§Œ í‘¼ ìœ ì €  
        - 1pennyplz : 2íšŒ ì œì¶œ(1ë¬¸ì œ) -> ì˜ì–´ ë¬¸ì œ   
        - dad0401 : 1íšŒ ì œì¶œ(1ë¬¸ì œ) -> unranked ë¬¸ì œ   

    [í‹°ì–´ ë¹„êµ]    
        - all_clean ê³¼ non_cleanì˜ ìœ ì € í‹°ì–´ ë¹„êµ  
            - all_clean : clean target & problem_idì¸ ì œì¶œì˜ ìœ ì €ë“¤ì˜ í‹°ì–´   
            - non_clean : clean ì™¸ì˜ ë¬¸ì œë“¤ë§Œ í‘¼ ìœ ì €ë“¤ì˜ í‹°ì–´  
            - all_ratio : all_clean_user_tierì˜ ë¹„ìœ¨  [all / (all+non)]  
                â†’ ë¹„ì¤‘ì´ ë†’ì„ ìˆ˜ë¡ í•´ë‹¹ í‹°ì–´ì˜ ìœ ì €ë“¤ì´ clean ë¬¸ì œë“¤ì„ í’€ì—ˆë‹¤ëŠ” ê²ƒì„ ì˜ë¯¸     
                â†’ ì•„ë˜ í‘œë¥¼ ë´¤ì„ ë•Œ ìœ ì €ë“¤ì˜ í‹°ì–´ì™€ í´ë¦° ë¬¸ì œê°„ì˜ í° ìƒê´€ê´€ê³„ê°€ ìˆë‹¤ê³  ë³´ê¸°ëŠ” ì–´ë ¤ìš¸ê±° ê°™ìŒ  

<br>

5. course.csv
    - í‚¤ì›Œë“œ : 'ì½”í…Œ', 'ê¸°ì—…', 'ì½”ë”© í…ŒìŠ¤íŠ¸', 'ê¸°ì¶œ'   
    - í‚¤ì›Œë“œë¥¼ í¬í•¨í•œ ì½”ìŠ¤ë“¤ì„ ë½‘ê³ , ì½”ìŠ¤ë“¤ì´ í´ë¦° ë¬¸ì œë“¤ë¡œ ì´ë£¨ì–´ì¡ŒëŠ”ì§€ í™•ì¸í•¨   
        - í‚¤ì›Œë“œê°€ ë“¤ì–´ê°„ ì½”ìŠ¤ ê°œìˆ˜ :  69   
        - clean ë¬¸ì œë“¤ë¡œë§Œ ì´ë£¨ì–´ì§„ ì½”ìŠ¤ :  46   
        - clean ë¬¸ì œë“¤ë¡œë§Œ ì´ë£¨ì–´ì§€ì§€ ì•Šì€ ì½”ìŠ¤ :  23  

        â†’ ë§ì€ ê²½ìš° clean ë¬¸ì œë“¤ë¡œ ì´ë£¨ì–´ì¡ŒìŒ.    
        â†’ ë¹„ìœ¨ì´ ë‚®ì€ ë¬¸ì œì§‘ë“¤ì„ ì‚´í´ë³´ê¸° 'ê¸°ì¶œ' í‚¤ì›Œë“œì— ê±¸ë ¸ê³ , ì•Œê³ ë¦¬ì¦˜ ëŒ€íšŒ ê¸°ì¶œ ë¬¸ì œë¥¼ ëª¨ì•„ë‘” ë¬¸ì œì§‘ì„

In [1]:
import pandas as pd
import os
import warnings
warnings.filterwarnings(action='ignore')

from itertools import chain
from collections import Counter

data_path = "/Users/yj/Dropbox/1. á„‹á…²á„Œá…¥á†¼/8. BoostcampAI/Level2-AZDKS/Santa-BOJ/data"

os.chdir(data_path)
os.getcwd()

'/Users/yj/Dropbox/1. á„‹á…²á„Œá…¥á†¼/8. BoostcampAI/Level2-AZDKS/Santa-BOJ/data'

In [2]:
file_list = [file for file in os.listdir(data_path) if '.csv' in file]
file_list

['problem.csv',
 'course_data_list.csv',
 'course.csv',
 'score.csv',
 'clean_problem.csv',
 'course_detail.csv',
 'user.csv']

In [3]:
problem = pd.read_csv('problem.csv')
course = pd.read_csv('course.csv')
score = pd.read_csv('score.csv')
clean_problem = pd.read_csv('clean_problem.csv')
user = pd.read_csv('user.csv')

# problem.csv

### problem ê¸°ë³¸ì ì¸ íƒìƒ‰

In [4]:
problem.head()

,problem_id,problem_tags,average_tries,accepted_user_count,is_solvable,level,problem_association,problem_limit,problem_hint,title,problem_input,problem_output,problem_description,is_partial,problem_info
0,1000,"[{'key': 'arithmetic', 'isMeta': False, 'bojTa...",2.3696,177961,True,1,"['1001ë²ˆ. A-B', '1008ë²ˆ. A/B', '2558ë²ˆ. A+B - 2',...",\n,\nì—¬ê¸°ë¥¼ ëˆ„ë¥´ë©´ 1000ë²ˆ ì˜ˆì œ ì†ŒìŠ¤ë¥¼ ë³¼ ìˆ˜ ìˆìŠµë‹ˆë‹¤.\n,1000ë²ˆ: A+B,"\nì²«ì§¸ ì¤„ì— Aì™€ Bê°€ ì£¼ì–´ì§„ë‹¤. (0 < A, B < 10)\n",\nì²«ì§¸ ì¤„ì— A+Bë¥¼ ì¶œë ¥í•œë‹¤.\n,"\në‘ ì •ìˆ˜ Aì™€ Bë¥¼ ì…ë ¥ë°›ì€ ë‹¤ìŒ,Â A+Bë¥¼ ì¶œë ¥í•˜ëŠ” í”„ë¡œê·¸ë¨ì„ ì‘ì„±í•˜ì‹œì˜¤.\n",False,"['2 ì´ˆ ', '128 MB', '593356', '247193', '176987..."
1,1001,"[{'key': 'arithmetic', 'isMeta': False, 'bojTa...",1.3975,149192,True,1,"['1000ë²ˆ. A+B', '1008ë²ˆ. A/B', '2558ë²ˆ. A+B - 2',...",\n,\n,1001ë²ˆ: A-B,"\nì²«ì§¸ ì¤„ì— Aì™€ Bê°€ ì£¼ì–´ì§„ë‹¤. (0 < A, B < 10)\n",\nì²«ì§¸ ì¤„ì— A-Bë¥¼ ì¶œë ¥í•œë‹¤.\n,"\në‘ ì •ìˆ˜ Aì™€ Bë¥¼ ì…ë ¥ë°›ì€ ë‹¤ìŒ, A-Bë¥¼ ì¶œë ¥í•˜ëŠ” í”„ë¡œê·¸ë¨ì„ ì‘ì„±í•˜ì‹œì˜¤.\n",False,"['2 ì´ˆ ', '128 MB', '247010', '172725', '148343..."
2,1002,"[{'key': 'geometry', 'isMeta': False, 'bojTagI...",4.5895,26224,True,7,[],\n,\n,1002ë²ˆ: í„°ë ›,\nì²«ì§¸ ì¤„ì— í…ŒìŠ¤íŠ¸ ì¼€ì´ìŠ¤ì˜ ê°œìˆ˜ Tê°€ ì£¼ì–´ì§„ë‹¤. ê° í…ŒìŠ¤íŠ¸ ì¼€ì´ìŠ¤ëŠ” ë‹¤ìŒê³¼ ê°™ì´...,\nê° í…ŒìŠ¤íŠ¸ ì¼€ì´ìŠ¤ë§ˆë‹¤ ë¥˜ì¬ëª…ì´ ìˆì„ ìˆ˜ ìˆëŠ” ìœ„ì¹˜ì˜ ìˆ˜ë¥¼ ì¶œë ¥í•œë‹¤. ë§Œì•½ ë¥˜ì¬ëª…...,\nì¡°ê·œí˜„ê³¼ ë°±ìŠ¹í™˜ì€ í„°ë ›ì— ê·¼ë¬´í•˜ëŠ” ì§ì›ì´ë‹¤. í•˜ì§€ë§ŒÂ ì›Œë‚™ ì¡´ì¬ê°ì´ ì—†ì–´ì„œ ì¸êµ¬ìˆ˜...,False,"['2 ì´ˆ ', '128 MB', '155147', '32698', '26037',..."
3,1003,"[{'key': 'dp', 'isMeta': False, 'bojTagId': 25...",3.1842,35245,True,8,[],\n,\n,1003ë²ˆ: í”¼ë³´ë‚˜ì¹˜ í•¨ìˆ˜,\nì²«ì§¸ ì¤„ì— í…ŒìŠ¤íŠ¸ ì¼€ì´ìŠ¤ì˜ ê°œìˆ˜ Tê°€ ì£¼ì–´ì§„ë‹¤.\nê° í…ŒìŠ¤íŠ¸ ì¼€ì´ìŠ¤ëŠ” í•œ ì¤„ë¡œ ...,\nê° í…ŒìŠ¤íŠ¸ ì¼€ì´ìŠ¤ë§ˆë‹¤ 0ì´ ì¶œë ¥ë˜ëŠ” íšŸìˆ˜ì™€ 1ì´ ì¶œë ¥ë˜ëŠ” íšŸìˆ˜ë¥¼ ê³µë°±ìœ¼ë¡œ êµ¬ë¶„í•´...,\në‹¤ìŒ ì†ŒìŠ¤ëŠ” Në²ˆì§¸ í”¼ë³´ë‚˜ì¹˜ ìˆ˜ë¥¼ êµ¬í•˜ëŠ” C++ í•¨ìˆ˜ì´ë‹¤.\nint fibona...,False,"['0.25 ì´ˆ (ì¶”ê°€ ì‹œê°„ ì—†ìŒ) ', '128 MB', '157077', '44..."
4,1004,"[{'key': 'geometry', 'isMeta': False, 'bojTagI...",2.3461,8570,True,8,[],"\n\n-1000 â‰¤ x1, y1, x2, y2, cx, cy â‰¤ 1000\n1 â‰¤...",\n,1004ë²ˆ: ì–´ë¦° ì™•ì,\nì…ë ¥ì˜ ì²« ì¤„ì—ëŠ” í…ŒìŠ¤íŠ¸ ì¼€ì´ìŠ¤ì˜ ê°œìˆ˜ Tê°€ ì£¼ì–´ì§„ë‹¤. ê·¸ ë‹¤ìŒ ì¤„ë¶€í„° ê°ê°ì˜ ...,\nê° í…ŒìŠ¤íŠ¸ ì¼€ì´ìŠ¤ì— ëŒ€í•´ ì–´ë¦° ì™•ìê°€ ê±°ì³ì•¼Â í• ìµœì†Œì˜ í–‰ì„±ê³„ ì§„ì…/ì´íƒˆ íšŸìˆ˜ë¥¼...,\nì–´ë¦° ì™•ìëŠ” ì†Œí˜¹ì„± B-664ì—ì„œ ìì‹ ì´ ì‚¬ë‘í•˜ëŠ” í•œ ì†¡ì´ ì¥ë¯¸ë¥¼ ìœ„í•´ ì‚´ì•„ê°„ë‹¤...,False,"['2 ì´ˆ ', '128 MB', '25107', '10345', '8522', '..."

In [5]:
problem.columns

Index(['problem_id', 'problem_tags', 'average_tries', 'accepted_user_count',
       'is_solvable', 'level', 'problem_association', 'problem_limit',
       'problem_hint', 'title', 'problem_input', 'problem_output',
       'problem_description', 'is_partial', 'problem_info'],
      dtype='object')

In [6]:
problem['problem_id'].nunique()

23090

In [7]:
problem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23090 entries, 0 to 23089
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   problem_id           23090 non-null  int64
 1   problem_tags         23090 non-null  object
 2   average_tries        23090 non-null  float64
 3   accepted_user_count  23090 non-null  int64
 4   is_solvable          23090 non-null  bool
 5   level                23090 non-null  int64
 6   problem_association  23090 non-null  object
 7   problem_limit        23090 non-null  object
 8   problem_hint         23090 non-null  object
 9   title                23090 non-null  object
 10  problem_input        23090 non-null  object
 11  problem_output       23090 non-null  object
 12  problem_description  23090 non-null  object
 13  is_partial           23090 non-null  bool
 14  problem_info         23090 non-null  object
dtypes: bool(2), float64(1), int64(3), object(9)
memory usage: 2.3+ MB

In [8]:
problem.describe()

         problem_id  average_tries  accepted_user_count         level
count  23090.000000   23090.000000         23090.000000  23090.000000
mean   13223.324816       2.446576           584.329147      9.065743
std     6982.904791      48.409894          4763.431714      8.450138
min     1000.000000       0.000000             0.000000      0.000000
25%     7342.250000       1.000000             2.000000      0.000000
50%    13394.500000       1.707050            11.000000      8.000000
75%    19249.750000       2.656375            59.000000     16.000000
max    25150.000000    7340.140000        200366.000000     30.000000

In [9]:
many_tries = problem[problem['average_tries'] > 50]
many_tries_problem = many_tries['problem_id']
print(len(many_tries))
many_tries

10

,problem_id,problem_tags,average_tries,accepted_user_count,is_solvable,level,problem_association,problem_limit,problem_hint,title,problem_input,problem_output,problem_description,is_partial,problem_info
249,1250,"[{'key': 'data_structures', 'isMeta': False, '...",52.5714,7,True,24,[],\n,\n\n0 : AABAABBBCD\n1 : AABAACD\n2 : BAACD\n3 ...,1250ë²ˆ: ìƒ‰ì¹ ëœ ê³µë“¤,"\nì²«ì§¸ ì¤„ì—ëŠ” ê³µì˜ ê°œìˆ˜ì¸ Nê³¼, ìì‹ ì´ ì–¸ì œ ì—†ì–´ì§€ëŠ”ì§€ ì•Œê³ ì‹¶ì€ ê³µì˜ ë²ˆí˜¸ k...",\nê·¸ kë²ˆì§¸ ê³µì´ ì‚¬ë¼ì§€ëŠ” ì‹œí–‰íšŸìˆ˜ê°€ ëª‡ ë²ˆì§¸ì¸ì§€ ì¶œë ¥í•œë‹¤.\n,\nê·œì™„ì´ëŠ” Nê°œì˜ ìˆœì„œëŒ€ë¡œ ìƒ‰ì¹ ëœ ê³µì„ ê°€ì§€ê³ ìˆë‹¤. (ìƒ‰ì€ ì˜ì–´ ëŒ€ë¬¸ìë¡œ ì´ë£¨ì–´...,False,"['2 ì´ˆ ', '128 MB', '1135', '30', '7', '1.902%']"
4014,5112,[],257.0000,1,True,0,[],\n,\n,5112ë²ˆ: Functional Programming Counts,\nThe input consists of a series of input line...,\nExpression results should be reported on a l...,\nThe formal methods team at your place of wor...,False,"['1 ì´ˆ ', '128 MB', '281', '1', '1', '0.389%']"
9157,10944,[],7340.1400,44,True,0,[],\n,\n,10944ë²ˆ: ëœë¤ ê²Œì„~~,\nì´ ë¬¸ì œëŠ” ì…ë ¥ì´ ì—†ë‹¤.\n,"\nì²«ì§¸ ì¤„ì— 1ë¶€í„° 10,000ê¹Œì§€ ì •ìˆ˜ ì¤‘ì—ì„œ í•˜ë‚˜ë¥¼ ì¶œë ¥í•œë‹¤.\n","\n1ë¶€í„° 10,000ê¹Œì§€ ì •ìˆ˜ ì¤‘ì—ì„œÂ í•˜ë‚˜ë¥¼ ì¶œë ¥í•œë‹¤. ì´ ìˆ˜ê°€ ì±„ì í”„ë¡œê·¸ë¨ì´ ...",False,"['1 ì´ˆ ', '256 MB', '501093', '46', '44', '0.01..."
9159,10946,[],248.3040,619,True,0,[],\n,\n,10946ë²ˆ: ëœë¤ ê²Œì„~~~~,\nì´ ë¬¸ì œëŠ” ì…ë ¥ì´ ì—†ë‹¤.\n,"\nì²«ì§¸ ì¤„ì— 1ë¶€í„° 2,147,483,647ê¹Œì§€ ì •ìˆ˜ ì¤‘ì—ì„œ í•˜ë‚˜ë¥¼ ì¶œë ¥í•œë‹¤.\n","\n1ë¶€í„° 2,147,483,647ê¹Œì§€ ì •ìˆ˜ ì¤‘ì—ì„œ í•˜ë‚˜ë¥¼ ì¶œë ¥í•œë‹¤. ì´ ìˆ˜ê°€ ì±„ì ...",True,"['1 ì´ˆ ', '256 MB', '524417', '28302', '619', '..."
9160,10947,[],96.8799,308,True,0,[],\n,\n,10947ë²ˆ: ë¡œë˜,\nì´ ë¬¸ì œëŠ” ì…ë ¥ì´ ì—†ë‹¤.\n,"\n1ë³´ë‹¤ í¬ê±°ë‚˜ ê°™ê³ , 45ë³´ë‹¤ ì‘ê±°ë‚˜ ê°™ì€ ìˆ˜ë¥¼ 6ê°œ ì¶œë ¥í•œë‹¤. ì´ë•Œ, ê°™ì€ ìˆ˜...","\n1ë³´ë‹¤ í¬ê±°ë‚˜ ê°™ê³ , 45ë³´ë‹¤ ì‘ê±°ë‚˜ ê°™ì€ ìˆ˜ 6ê°œë¥¼ ì¶œë ¥í•œë‹¤.\nì±„ì í”„ë¡œê·¸ë¨...",True,"['1 ì´ˆ ', '256 MB', '105078', '2501', '307', '1..."
15207,17120,"[{'key': 'implementation', 'isMeta': False, 'b...",89.5000,2,True,0,[],\n,\n2019ë…„ 3ì›” 31ì¼ ìŠ¬ë™ ì›¹ ë²„ì „ì„ ê¸°ì¤€ìœ¼ë¡œ í•œë‹¤.\n,17120ë²ˆ: ì´ëª¨ì§€,"\në©”ì‹œì§€ê°€ ì£¼ì–´ì§„ë‹¤. ë©”ì‹œì§€ëŠ” ìµœëŒ€ 30ì¤„ë¡œ ì´ë£¨ì–´ì ¸ ìˆê³ , ê° ì¤„ì˜ ê¸¸ì´ëŠ” ìµœëŒ€...","\nê° ì¤„ë§ˆë‹¤ ì´ëª¨ì§€ ğŸ±ì´Â ì¡´ì¬í•˜ë©´ YES, ì•„ë‹ˆë©´ NOë¥¼ ì¶œë ¥í•œë‹¤. Custom ...",\nì—¬ëŸ¬ íšŒì‚¬ì˜ ë©”ì‹ ì € ì†Œí”„íŠ¸ì›¨ì–´ë¡œ ì‚¬ìš©ë˜ëŠ” ìŠ¬ë™(Slack)ì€ ì•„ìŠ¤í‚¤ ë¬¸ìë§Œìœ¼ë¡œ ...,True,"['1 ì´ˆ ', '512 MB', '2056', '3', '2', '1.117%']"
16860,18789,"[{'key': 'constructive', 'isMeta': False, 'boj...",65.8333,12,True,25,[],\n,\n,18789ë²ˆ: 814 - 2,\nì…ë ¥ì€ ì£¼ì–´ì§€ì§€ ì•ŠëŠ”ë‹¤.\n,\nìˆ«ì 0 ~ 9 ë¡œë§Œ ì´ë£¨ì–´ì§„ 8Â Ã— 14 í¬ê¸°ì˜ í‘œë¥¼ ì¶œë ¥í•˜ë©´ ëœë‹¤.\nì¶œë ¥ëœ...,\nìˆ«ì 0~9 ë¡œë§Œ ì´ë£¨ì–´ì§„ 8Â Ã— 14 í¬ê¸°ì˜ í‘œë¥¼ ë§Œë“¤ì–´ ì¶œë ¥í•´ë³´ì. ë‹¤ìŒê³¼ ...,True,"['0.814 ì´ˆ ', '814 MB', '4891', '43', '12', '1...."
17222,19152,[],62.0000,1,True,0,[],\n,"\nIn the example above, the first client can b...",19152ë²ˆ: Ito,\nThe first line of the input contains two int...,"\nPrint M$M$ lines, i$i$-th of them containing...",\nMath can be very interesting and fascinating...,False,"['1 ì´ˆ ', '512 MB', '83', '5', '1', '1.613%']"
18061,19999,[],54.4688,32,True,0,[],\n\n,\n\n\n,19999ë²ˆ: ì¼í•˜ëŠ” êµ¬êµ¬,\n\n,\n\n,\n\n,False,"['0.25 ì´ˆ (ì¶”ê°€ ì‹œê°„ ì—†ìŒ) ', '512 MB', '4329', '96',..."
19351,21299,[],54.9091,22,True,0,[],\n,\nì•„ì§ ê²½í’ˆì„ ëª» ë°›ìœ¼ì‹ ë¶„ë“¤ì€ ì´ ëŒ€íšŒê°€ ëë‚œ í›„ì— ëª¨ë‘ ê²½í’ˆì„ ì§€ê¸‰í•´ ë“œë¦¬ê² ìŠµ...,21299ë²ˆ: ì§„ì§œ ìµœì¢… êµ¬ë°ê¸°ì»µ 1 ê²½í’ˆ ë‹¹ì²¨ì,\nê²½í’ˆ ë‹¹ì²¨ ê¸°ì¤€ì´ ì£¼ì–´ì§„ë‹¤. ì´ëŠ” ë‹¤ìŒ ì¤‘ í•˜ë‚˜ì´ë‹¤.\n\nMarathon Ed...,"\nì²«ì§¸ ì¤„ì— ìƒì˜ ì´ë¦„, ë‘˜ì§¸ ì¤„ì— ê²½í’ˆì˜ ì´ë¦„, ì…‹ì§¸ ì¤„ì— ê²½í’ˆ ë‹¹ì²¨ìì˜ ì•„ì´ë””...",\nêµ¬ë°ê¸°ì»µ ì£¼ìµœì ì‚¬í‡´ë¥¼ ì„ ì–¸í•œ jh05013ì€ ì¼ì²˜ë¦¬ë„ ì œëŒ€ë¡œ ì•ˆ í–ˆë‹¤! ê²½í’ˆ ...,True,"['1 ì´ˆ (ì¶”ê°€ ì‹œê°„ ì—†ìŒ) ', '512 MB', '1686', '24', '2..."

In [10]:
clean_problem[clean_problem['problem_id'].isin(many_tries_problem)]

,problem_id,problem_tags,average_tries,accepted_user_count,is_solvable,level,problem_association,problem_limit,problem_hint,title,problem_input,problem_output,problem_description,is_partial,problem_info
242,1250,"[{'key': 'data_structures', 'isMeta': False, '...",52.5714,7,True,24,[],\n,\n\n0 : AABAABBBCD\n1 : AABAACD\n2 : BAACD\n3 ...,1250ë²ˆ: ìƒ‰ì¹ ëœ ê³µë“¤,"\nì²«ì§¸ ì¤„ì—ëŠ” ê³µì˜ ê°œìˆ˜ì¸ Nê³¼, ìì‹ ì´ ì–¸ì œ ì—†ì–´ì§€ëŠ”ì§€ ì•Œê³ ì‹¶ì€ ê³µì˜ ë²ˆí˜¸ k...",\nê·¸ kë²ˆì§¸ ê³µì´ ì‚¬ë¼ì§€ëŠ” ì‹œí–‰íšŸìˆ˜ê°€ ëª‡ ë²ˆì§¸ì¸ì§€ ì¶œë ¥í•œë‹¤.\n,\nê·œì™„ì´ëŠ” Nê°œì˜ ìˆœì„œëŒ€ë¡œ ìƒ‰ì¹ ëœ ê³µì„ ê°€ì§€ê³ ìˆë‹¤. (ìƒ‰ì€ ì˜ì–´ ëŒ€ë¬¸ìë¡œ ì´ë£¨ì–´...,False,"['2 ì´ˆ ', '128 MB', '1135', '30', '7', '1.902%']"
4755,18789,"[{'key': 'constructive', 'isMeta': False, 'boj...",65.8333,12,True,25,[],\n,\n,18789ë²ˆ: 814 - 2,\nì…ë ¥ì€ ì£¼ì–´ì§€ì§€ ì•ŠëŠ”ë‹¤.\n,\nìˆ«ì 0 ~ 9 ë¡œë§Œ ì´ë£¨ì–´ì§„ 8Â Ã— 14 í¬ê¸°ì˜ í‘œë¥¼ ì¶œë ¥í•˜ë©´ ëœë‹¤.\nì¶œë ¥ëœ...,\nìˆ«ì 0~9 ë¡œë§Œ ì´ë£¨ì–´ì§„ 8Â Ã— 14 í¬ê¸°ì˜ í‘œë¥¼ ë§Œë“¤ì–´ ì¶œë ¥í•´ë³´ì. ë‹¤ìŒê³¼ ...,True,"['0.814 ì´ˆ ', '814 MB', '4891', '43', '12', '1...."

### ì¹¼ëŸ¼ë³„ íƒìƒ‰

#### íƒœê·¸(problem_tags)
- problem 
    - íƒœê·¸ ì¡´ì¬ :  14335 / íƒœê·¸ ë¯¸ì¡´ì¬ :  8755
    - íƒœê·¸ê°€ ì¡´ì¬í•˜ëŠ” ê²½ìš° ìµœì†Œ 1ê°œ ~ 22ê°œì˜ íƒœê·¸ê°€ ìˆìœ¼ë©°, í‰ê·  2.8ê°œì˜ íƒœê·¸ë¥¼ ê°€ì§(3ì‚¬ë¶„ìœ„ë„ 4ê°œ)
    - íƒœê·¸ ê°œìˆ˜ :  186ê°œ
    - ê°€ì¥ ë§ì´ ë“±ì¥í•œ íƒœê·¸ ë° ì¹´ìš´íŠ¸ :    
    [('math', 3910), ('implementation', 3490), ('dp', 2461), ('graphs', 2304), ('data_structures', 2252), ('string', 1575), ('greedy', 1371), ('bruteforcing', 1344), ('graph_traversal', 1261), ('sorting', 1060)]
    - ê°€ì¥ ì ê²Œ ë“±ì¥í•œ íƒœê·¸ ë° ì¹´ìš´íŠ¸ :    
    [('green', 3), ('tree_compression', 3), ('utf8', 3), ('generating_function', 3), ('pick', 2), ('majority_vote', 2), ('chordal_graph', 2), ('top_tree', 2), ('a_star', 1), ('rb_tree', 1)]

In [12]:
print("problem - íƒœê·¸ ì¡´ì¬ : ", len(problem[problem['problem_tags'] != '[]']))
print("problem - íƒœê·¸ ë¯¸ì¡´ì¬ : ", len(problem[problem['problem_tags'] == '[]']))

problem - íƒœê·¸ ì¡´ì¬ :  14335
problem - íƒœê·¸ ë¯¸ì¡´ì¬ :  8755

In [13]:
### problem.csv
tags_problem = problem[problem['problem_tags'] != '[]']
tags_problem['tags_count'] = tags_problem['problem_tags'].apply(lambda x: len(x.split('}]},')))
tags_problem['tags_count'].describe()

count    14335.000000
mean         2.820160
std          1.566808
min          1.000000
25%          2.000000
50%          3.000000
75%          4.000000
max         22.000000
Name: tags_count, dtype: float64

In [14]:
more10_tags_list = list(tags_problem[tags_problem['tags_count'] > 10]['problem_id'])
# more10_tags_list

In [15]:
tags_problem['problem_tags']

0        [{'key': 'arithmetic', 'isMeta': False, 'bojTa...
1        [{'key': 'arithmetic', 'isMeta': False, 'bojTa...
2        [{'key': 'geometry', 'isMeta': False, 'bojTagI...
3        [{'key': 'dp', 'isMeta': False, 'bojTagId': 25...
4        [{'key': 'geometry', 'isMeta': False, 'bojTagI...
                               ...
23076    [{'key': 'euclidean', 'isMeta': False, 'bojTag...
23078    [{'key': 'combinatorics', 'isMeta': False, 'bo...
23081    [{'key': '0_1_bfs', 'isMeta': False, 'bojTagId...
23083    [{'key': 'constructive', 'isMeta': False, 'boj...
23088    [{'key': 'bruteforcing', 'isMeta': False, 'boj...
Name: problem_tags, Length: 14335, dtype: object

ì„±ë²”ë‹˜ì˜ íƒœê·¸ preprocessing ì½”ë“œ ì°¸ê³

In [19]:
tag_list = []
def get_preprocessing_tags(tags):
    global tag_list
    tags = eval(tags)
    if tags:
        tags = [tag['key'] for tag in tags]
        tag_list += tags
    return tags

problem['preprocessing_tags'] = problem['problem_tags'].apply(lambda x : get_preprocessing_tags(x))
clean_problem['preprocessing_tags'] = clean_problem['problem_tags'].apply(lambda x: get_preprocessing_tags(x))
tag_list = list(set(tag_list))

In [20]:
problem['preprocessing_tags'].value_counts()

[]                                                                             8755
[dp]                                                                            661
[implementation]                                                                601
[implementation, string]                                                        417
[math]                                                                          252
                                                                               ...
[bruteforcing, implementation, trees]                                             1
[data_structures, disjoint_set, math, number_theory, primality_test, sieve]       1
[data_structures, dp, implementation, segtree, simulation]                        1
[bruteforcing, greedy, math, sorting]                                             1
[constructive, graphs, sorting, trees]                                            1
Name: preprocessing_tags, Length: 4120, dtype: int64

In [21]:
### problem.csv
tags = list(chain(*problem['preprocessing_tags'].to_list()))
tags_count = Counter(tags).most_common()
print("íƒœê·¸ ê°œìˆ˜ : ", len(set(tags)))
print("ê°€ì¥ ë§ì´ ë“±ì¥í•œ íƒœê·¸ ë° ì¹´ìš´íŠ¸ : \n", tags_count[:10])
print("ê°€ì¥ ì ê²Œ ë“±ì¥í•œ íƒœê·¸ ë° ì¹´ìš´íŠ¸ : \n", tags_count[-10:])

íƒœê·¸ ê°œìˆ˜ :  186
ê°€ì¥ ë§ì´ ë“±ì¥í•œ íƒœê·¸ ë° ì¹´ìš´íŠ¸ :
 [('math', 3910), ('implementation', 3490), ('dp', 2461), ('graphs', 2304), ('data_structures', 2252), ('string', 1575), ('greedy', 1371), ('bruteforcing', 1344), ('graph_traversal', 1261), ('sorting', 1060)]
ê°€ì¥ ì ê²Œ ë“±ì¥í•œ íƒœê·¸ ë° ì¹´ìš´íŠ¸ :
 [('green', 3), ('tree_compression', 3), ('utf8', 3), ('generating_function', 3), ('pick', 2), ('majority_vote', 2), ('chordal_graph', 2), ('top_tree', 2), ('a_star', 1), ('rb_tree', 1)]

#### ë¹„ìŠ·í•œ ë¬¸ì œ(problem_association)
- problem ë°ì´í„° - ë¹„ìŠ·í•œ ë¬¸ì œê°€ ì¡´ì¬í•˜ëŠ” ë¬¸ì œ :  79
- clean_problem ë°ì´í„° - ë¹„ìŠ·í•œ ë¬¸ì œê°€ ì¡´ì¬í•˜ëŠ” ë¬¸ì œ :  75
- 79ê°œ ì¤‘ clean_problemì—ì„œ ì‚¬ë¼ì§„ ë¬¸ì œ :  {10735, 10444, 15548, 10724}
    - í•œêµ­ì–´X : 10444, 15548
    - levelë†’ìŒ : 10724, 10735

In [22]:
print("problem ë°ì´í„° - ë¹„ìŠ·í•œ ë¬¸ì œê°€ ì¡´ì¬í•˜ëŠ” ë¬¸ì œ : ", len(problem[problem['problem_association'] != '[]']['problem_id']))
print("clean_problem ë°ì´í„° - ë¹„ìŠ·í•œ ë¬¸ì œê°€ ì¡´ì¬í•˜ëŠ” ë¬¸ì œ : ", len(clean_problem[clean_problem['problem_association'] != '[]']['problem_id']))
print("79ê°œ ì¤‘ clean_problemì—ì„œ ì‚¬ë¼ì§„ ë¬¸ì œ : ", set(problem[problem['problem_association'] != '[]']['problem_id']) - set(clean_problem[clean_problem['problem_association'] != '[]']['problem_id']))

problem ë°ì´í„° - ë¹„ìŠ·í•œ ë¬¸ì œê°€ ì¡´ì¬í•˜ëŠ” ë¬¸ì œ :  79
clean_problem ë°ì´í„° - ë¹„ìŠ·í•œ ë¬¸ì œê°€ ì¡´ì¬í•˜ëŠ” ë¬¸ì œ :  75
79ê°œ ì¤‘ clean_problemì—ì„œ ì‚¬ë¼ì§„ ë¬¸ì œ :  {10735, 10444, 15548, 10724}

In [23]:
a = pd.concat([problem[problem['problem_id'] == 10444], problem[problem['problem_id'] == 10724]])
b = pd.concat([problem[problem['problem_id'] == 10735], problem[problem['problem_id'] == 15548]])
pd.concat([a, b])

,problem_id,problem_tags,average_tries,accepted_user_count,is_solvable,level,problem_association,problem_limit,problem_hint,title,problem_input,problem_output,problem_description,is_partial,problem_info,preprocessing_tags
8672,10444,[],2.3333,3,True,0,['15548ë²ˆ. Anagram Pyramids (Hard)'],\n,\n,10444ë²ˆ: Anagram Pyramids,\nThere may be multiple cases to consider. Pro...,\nThe answers for each case should consist of ...,"\nBack in the 20th century, anagram puzzles we...",False,"['2 ì´ˆ ', '256 MB', '21', '8', '3', '42.857%']",[]
8940,10724,"[{'key': 'divide_and_conquer', 'isMeta': False...",7.3182,44,True,26,['10723ë²ˆ. íŒê²Œì•„ 1'],\n,\n,10724ë²ˆ: íŒê²Œì•„ 2,\nì²« ì¤„ì—ëŠ” í…ŒìŠ¤íŠ¸ ì¼€ì´ìŠ¤ì˜ ìˆ˜ T\(T\)ê°€ ì •ìˆ˜ë¡œ ì£¼ì–´ì§„ë‹¤.Â ì´ì–´ì„œ ë§¤ í…ŒìŠ¤íŠ¸...,\nê° í…ŒìŠ¤íŠ¸ ì¼€ì´ìŠ¤ë§ˆë‹¤ ë‹¨ í•˜ë‚˜ì˜ ì¤„ì„ ì¶œë ¥í•œë‹¤. ì´ ì¤„ì—ëŠ”Â ë§¤ë²ˆÂ ìƒˆ ë„ë¡œë¥¼ ë†“ì•˜...,\níƒœì´ˆì— ì„¸ê³„ëŠ” n\(n\)ê°œì˜ ë„ì‹œì™€ ì´ë“¤ ì‚¬ì´ë¥¼ ì‡ëŠ” nâˆ’1\(n - 1\)ê°œ...,False,"['20 ì´ˆ ', '256 MB', '412', '87', '43', '13.396%']","[divide_and_conquer, graphs, link_cut_tree, ms..."
8951,10735,"[{'key': 'combinatorics', 'isMeta': False, 'bo...",1.5000,6,True,26,"['10733ë²ˆ. I\\(I\\)êµì‹ ì 1', '10734ë²ˆ. I\\(I\\)êµì‹ ì...",\n,\n,10735ë²ˆ: \(I\)êµì‹ ì 3,"\nì²« ì¤„ì— I(1â‰¤Iâ‰¤109)\(IÂ (1 \leq I \leq 10^9)\), A...",\nâ€Ši\(i\)ë²ˆì§¸ ì¤„ì—Â ëª¨ë“ ì¹´ë“œ ë°°ì—´ì— ëŒ€í•´ ì‘ì—…ì„ ëë‚¸ í›„ì˜ ëª¨ë“ ìŠ¤íƒì— ëŒ€...,\në°©í•™ ë™ì•ˆ ì–´ë–¤ ì¼ì„ ê²ªì—ˆëŠ”ì§€ ëª°ë¼ë„ í˜„ì¢…ì´ëŠ” ìˆ˜ I\(I\)ë¥¼ ì‹ ì„±ì‹œí•˜ëŠ” I\...,False,"['3 ì´ˆ ', '256 MB', '17', '9', '6', '66.667%']","[combinatorics, dp, math]"
13659,15548,[],1.5000,2,True,0,['10444ë²ˆ. Anagram Pyramids'],\n,\n,15548ë²ˆ: Anagram Pyramids (Hard),\nThere may be multiple cases to consider. Pro...,\nThe answers for each case should consist of ...,"\nBack in the 20th century, anagram puzzles we...",False,"['10 ì´ˆ ', '512 MB', '8', '6', '2', '66.667%']",[]

In [24]:
problem.describe()

         problem_id  average_tries  accepted_user_count         level
count  23090.000000   23090.000000         23090.000000  23090.000000
mean   13223.324816       2.446576           584.329147      9.065743
std     6982.904791      48.409894          4763.431714      8.450138
min     1000.000000       0.000000             0.000000      0.000000
25%     7342.250000       1.000000             2.000000      0.000000
50%    13394.500000       1.707050            11.000000      8.000000
75%    19249.750000       2.656375            59.000000     16.000000
max    25150.000000    7340.140000        200366.000000     30.000000

# clean_problem.csv
- ê¸°ë³¸ì  íƒìƒ‰
    - 6866ê°œì˜ ë¬¸ì œ(problemì€ 23090ê°œì˜ ë¬¸ì œ)

- íƒœê·¸(problem_tags)
    - íƒœê·¸ ì¡´ì¬ :  6722 / íƒœê·¸ ë¯¸ì¡´ì¬ :  144
    - ìµœì†Œ 1ê°œì˜ íƒœê·¸, ìµœëŒ€ 19ê°œì˜ íƒœê·¸ (3ì‚¬ë¶„ìœ„ 3ê°œ)
    - íƒœê·¸ ê°œìˆ˜ : 176ê°œ
    - ê°€ì¥ ë§ì´ ë“±ì¥í•œ íƒœê·¸ ë° ì¹´ìš´íŠ¸ :    
    [('math', 1832), ('implementation', 1556), ('dp', 1261), ('graphs', 1072), ('data_structures', 997), ('string', 626), ('graph_traversal', 608), ('bruteforcing', 598), ('greedy', 577), ('sorting', 495)]
    - ê°€ì¥ ì ê²Œ ë“±ì¥í•œ íƒœê·¸ ë° ì¹´ìš´íŠ¸ :    
    [('general_matching', 2), ('bipartite_graph', 2), ('dominator_tree', 1), ('voronoi', 1), ('directed_mst', 1), ('tree_compression', 1), ('discrete_sqrt', 1), ('bayes', 1), ('pick', 1), ('generating_function', 1)]

- í‰ê·  ì‹œë„ íšŸìˆ˜(average_tries)
    - 1ë²ˆ ~ 65.8ë²ˆê¹Œì§€ ì¡´ì¬, í‰ê·  2.88ë²ˆ (3ì‚¬ë¶„ìœ„ 3.36)

In [25]:
clean_problem.head()

,problem_id,problem_tags,average_tries,accepted_user_count,is_solvable,level,problem_association,problem_limit,problem_hint,title,problem_input,problem_output,problem_description,is_partial,problem_info,preprocessing_tags
0,1000,"[{'key': 'arithmetic', 'isMeta': False, 'bojTa...",2.3696,177961,True,1,"['1001ë²ˆ. A-B', '1008ë²ˆ. A/B', '2558ë²ˆ. A+B - 2',...",\n,\nì—¬ê¸°ë¥¼ ëˆ„ë¥´ë©´ 1000ë²ˆ ì˜ˆì œ ì†ŒìŠ¤ë¥¼ ë³¼ ìˆ˜ ìˆìŠµë‹ˆë‹¤.\n,1000ë²ˆ: A+B,"\nì²«ì§¸ ì¤„ì— Aì™€ Bê°€ ì£¼ì–´ì§„ë‹¤. (0 < A, B < 10)\n",\nì²«ì§¸ ì¤„ì— A+Bë¥¼ ì¶œë ¥í•œë‹¤.\n,"\në‘ ì •ìˆ˜ Aì™€ Bë¥¼ ì…ë ¥ë°›ì€ ë‹¤ìŒ,Â A+Bë¥¼ ì¶œë ¥í•˜ëŠ” í”„ë¡œê·¸ë¨ì„ ì‘ì„±í•˜ì‹œì˜¤.\n",False,"['2 ì´ˆ ', '128 MB', '593356', '247193', '176987...","[arithmetic, implementation, math]"
1,1001,"[{'key': 'arithmetic', 'isMeta': False, 'bojTa...",1.3975,149192,True,1,"['1000ë²ˆ. A+B', '1008ë²ˆ. A/B', '2558ë²ˆ. A+B - 2',...",\n,\n,1001ë²ˆ: A-B,"\nì²«ì§¸ ì¤„ì— Aì™€ Bê°€ ì£¼ì–´ì§„ë‹¤. (0 < A, B < 10)\n",\nì²«ì§¸ ì¤„ì— A-Bë¥¼ ì¶œë ¥í•œë‹¤.\n,"\në‘ ì •ìˆ˜ Aì™€ Bë¥¼ ì…ë ¥ë°›ì€ ë‹¤ìŒ, A-Bë¥¼ ì¶œë ¥í•˜ëŠ” í”„ë¡œê·¸ë¨ì„ ì‘ì„±í•˜ì‹œì˜¤.\n",False,"['2 ì´ˆ ', '128 MB', '247010', '172725', '148343...","[arithmetic, implementation, math]"
2,1002,"[{'key': 'geometry', 'isMeta': False, 'bojTagI...",4.5895,26224,True,7,[],\n,\n,1002ë²ˆ: í„°ë ›,\nì²«ì§¸ ì¤„ì— í…ŒìŠ¤íŠ¸ ì¼€ì´ìŠ¤ì˜ ê°œìˆ˜ Tê°€ ì£¼ì–´ì§„ë‹¤. ê° í…ŒìŠ¤íŠ¸ ì¼€ì´ìŠ¤ëŠ” ë‹¤ìŒê³¼ ê°™ì´...,\nê° í…ŒìŠ¤íŠ¸ ì¼€ì´ìŠ¤ë§ˆë‹¤ ë¥˜ì¬ëª…ì´ ìˆì„ ìˆ˜ ìˆëŠ” ìœ„ì¹˜ì˜ ìˆ˜ë¥¼ ì¶œë ¥í•œë‹¤. ë§Œì•½ ë¥˜ì¬ëª…...,\nì¡°ê·œí˜„ê³¼ ë°±ìŠ¹í™˜ì€ í„°ë ›ì— ê·¼ë¬´í•˜ëŠ” ì§ì›ì´ë‹¤. í•˜ì§€ë§ŒÂ ì›Œë‚™ ì¡´ì¬ê°ì´ ì—†ì–´ì„œ ì¸êµ¬ìˆ˜...,False,"['2 ì´ˆ ', '128 MB', '155147', '32698', '26037',...","[geometry, math]"
3,1003,"[{'key': 'dp', 'isMeta': False, 'bojTagId': 25...",3.1842,35245,True,8,[],\n,\n,1003ë²ˆ: í”¼ë³´ë‚˜ì¹˜ í•¨ìˆ˜,\nì²«ì§¸ ì¤„ì— í…ŒìŠ¤íŠ¸ ì¼€ì´ìŠ¤ì˜ ê°œìˆ˜ Tê°€ ì£¼ì–´ì§„ë‹¤.\nê° í…ŒìŠ¤íŠ¸ ì¼€ì´ìŠ¤ëŠ” í•œ ì¤„ë¡œ ...,\nê° í…ŒìŠ¤íŠ¸ ì¼€ì´ìŠ¤ë§ˆë‹¤ 0ì´ ì¶œë ¥ë˜ëŠ” íšŸìˆ˜ì™€ 1ì´ ì¶œë ¥ë˜ëŠ” íšŸìˆ˜ë¥¼ ê³µë°±ìœ¼ë¡œ êµ¬ë¶„í•´...,\në‹¤ìŒ ì†ŒìŠ¤ëŠ” Në²ˆì§¸ í”¼ë³´ë‚˜ì¹˜ ìˆ˜ë¥¼ êµ¬í•˜ëŠ” C++ í•¨ìˆ˜ì´ë‹¤.\nint fibona...,False,"['0.25 ì´ˆ (ì¶”ê°€ ì‹œê°„ ì—†ìŒ) ', '128 MB', '157077', '44...",[dp]
4,1004,"[{'key': 'geometry', 'isMeta': False, 'bojTagI...",2.3461,8570,True,8,[],"\n\n-1000 â‰¤ x1, y1, x2, y2, cx, cy â‰¤ 1000\n1 â‰¤...",\n,1004ë²ˆ: ì–´ë¦° ì™•ì,\nì…ë ¥ì˜ ì²« ì¤„ì—ëŠ” í…ŒìŠ¤íŠ¸ ì¼€ì´ìŠ¤ì˜ ê°œìˆ˜ Tê°€ ì£¼ì–´ì§„ë‹¤. ê·¸ ë‹¤ìŒ ì¤„ë¶€í„° ê°ê°ì˜ ...,\nê° í…ŒìŠ¤íŠ¸ ì¼€ì´ìŠ¤ì— ëŒ€í•´ ì–´ë¦° ì™•ìê°€ ê±°ì³ì•¼Â í• ìµœì†Œì˜ í–‰ì„±ê³„ ì§„ì…/ì´íƒˆ íšŸìˆ˜ë¥¼...,\nì–´ë¦° ì™•ìëŠ” ì†Œí˜¹ì„± B-664ì—ì„œ ìì‹ ì´ ì‚¬ë‘í•˜ëŠ” í•œ ì†¡ì´ ì¥ë¯¸ë¥¼ ìœ„í•´ ì‚´ì•„ê°„ë‹¤...,False,"['2 ì´ˆ ', '128 MB', '25107', '10345', '8522', '...",[geometry]

In [26]:
clean_problem.describe()

         problem_id  average_tries  accepted_user_count        level
count   6866.000000    6866.000000          6866.000000  6866.000000
mean   11351.743227       2.888088          1903.390184    13.063793
std     7482.656200       2.126536          8588.658485     5.828604
min     1000.000000       1.000000             1.000000     1.000000
25%     3013.250000       1.865375            40.000000     9.000000
50%    11901.500000       2.474400           138.000000    13.000000
75%    17180.750000       3.360975           611.000000    18.000000
max    25083.000000      65.833300        200366.000000    25.000000

In [27]:
print("problem file's problem_id count: ", problem['problem_id'].nunique())
print("clean problem file's problem_id count: ", clean_problem['problem_id'].nunique())

problem file's problem_id count:  23090
clean problem file's problem_id count:  6866

In [28]:
clean_problem[clean_problem['problem_id'].isin(more10_tags_list)]

,problem_id,problem_tags,average_tries,accepted_user_count,is_solvable,level,problem_association,problem_limit,problem_hint,title,problem_input,problem_output,problem_description,is_partial,problem_info,preprocessing_tags
2485,17376,"[{'key': 'combinatorics', 'isMeta': False, 'bo...",2.0909,11,True,24,[],\n,\n,17376ë²ˆ: ë£°ë ›,"\nì²« ì¤„ì— ë†€ì´ê¸°êµ¬ì˜ ìˆ˜ Nê³¼ ì¿¼ë¦¬ì˜ ìˆ˜ Qê°€ ì£¼ì–´ì§„ë‹¤. (2 â‰¤ N â‰¤ 100,...","\nië²ˆì§¸ ë‹µì´ Biì¼ ë•Œ, Bi=$B_{i}=$PiQi$\frac{P_{i}}{Q...","\nì¢…ì˜ì´ê°€ ì˜¤ëœ ê¸°ê°„ ë™ì•ˆ ì¤€ë¹„í•œ ""ì˜¥í† ë¼ë‚˜ë¼ ë†€ì´ê³µì›""ì´ ê³§ ê°œì¥ì„ ì•ë‘ê³ ìˆë‹¤...",False,"['4 ì´ˆ (ì¶”ê°€ ì‹œê°„ ì—†ìŒ) ', '1024 MB', '31', '16', '11...","[combinatorics, data_structures, dfs, dp, dp_t..."
4769,18831,"[{'key': 'backtracking', 'isMeta': False, 'boj...",12.2500,4,True,25,[],\n,\n,18831ë²ˆ: ë¬¸ì œë¥¼ í‘¸ëŠ” ë¬¸ì œ,\nê° ë¬¸ì œì˜ ì…ë ¥ì´ ì°¨ë¡€ëŒ€ë¡œ ì£¼ì–´ì§„ë‹¤.\n,\nê° ë¬¸ì œì˜ ì •ë‹µì„ ì°¨ë¡€ëŒ€ë¡œ ì¶œë ¥í•œë‹¤.\n,\nì´ ë¬¸ì œëŠ” ë‹¤ì„¯ ê°œì˜ ì„œë¡œ ë‹¤ë¥¸ ë¬¸ì œë¡œ ì´ë£¨ì–´ì ¸ ìˆë‹¤. ê° ë¬¸ì œì˜ ì…ë ¥ì´ ì°¨ë¡€ëŒ€...,True,"['3 ì´ˆ (ì¶”ê°€ ì‹œê°„ ì—†ìŒ) ', '512 MB', '198', '5', '4',...","[backtracking, bfs, bitmask, combinatorics, da..."
5406,22860,"[{'key': 'data_structures', 'isMeta': False, '...",2.5882,68,True,13,[],"\n\nâ€Š1â‰¤Nâ‰¤1,000$1 \le N \le 1,000$â€Š\nâ€Š1â‰¤Mâ‰¤1,000...",\n,22860ë²ˆ: í´ë” ì •ë¦¬ (small),\nì²« ë²ˆì§¸ ì¤„ì—ëŠ” main í´ë” í•˜ìœ„ì— ìˆëŠ” í´ë”ì˜ ì´ ê°œìˆ˜ N$N$ê³¼Â íŒŒì¼ì˜ ì´...,\nì¿¼ë¦¬ ìˆœì„œëŒ€ë¡œ í•œ ì¤„ì”© í´ë” í•˜ìœ„ì— ìˆëŠ” íŒŒì¼ì˜ ì¢…ë¥˜ì˜ ê°œìˆ˜ì™€ íŒŒì¼ì˜ ì´ ê°œìˆ˜ë¥¼...,\nì´ë¦„ì´ main í´ë” ì•ˆì— ì—¬ëŸ¬ê°€ì§€ íŒŒì¼ê³¼ í´ë”ê°€ ì¡´ì¬í•œë‹¤.\nmain\n â”œâ”€...,False,"['1 ì´ˆ ', '1024 MB', '234', '96', '68', '38.636%']","[data_structures, dfs, graphs, graph_traversal..."
5407,22861,"[{'key': 'data_structures', 'isMeta': False, '...",4.2963,27,True,14,[],"\n\nâ€Š1â‰¤Nâ‰¤1,000$1 \le N \le 1,000$â€Š\nâ€Š1â‰¤Mâ‰¤1,000...",\n,22861ë²ˆ: í´ë” ì •ë¦¬ (large),\nì²« ë²ˆì§¸ ì¤„ì—ëŠ” main í´ë” ì•ˆì— ìˆëŠ” í´ë”ì˜ ì´ ê°œìˆ˜ N$N$ê³¼Â íŒŒì¼ì˜ ì´ ...,\nì¿¼ë¦¬ ìˆœì„œëŒ€ë¡œ í•œ ì¤„ì”© í´ë” í•˜ìœ„ì— ìˆëŠ” íŒŒì¼ì˜ ì¢…ë¥˜ì˜ ê°œìˆ˜ì™€ íŒŒì¼ì˜ ì´ ê°œìˆ˜ë¥¼...,\nì´ë¦„ì´ main í´ë” ì•ˆì— ì—¬ëŸ¬ê°€ì§€ íŒŒì¼ê³¼ í´ë”ê°€ ì¡´ì¬í•œë‹¤.\nmain\n â”œâ”€...,False,"['1.5 ì´ˆ ', '1024 MB', '192', '67', '27', '23.2...","[data_structures, dfs, graphs, graph_traversal..."
5419,22874,"[{'key': 'ad_hoc', 'isMeta': False, 'bojTagId'...",3.0000,12,True,25,[],\n,\n\nê·¸ë¦¼ B.1:Â ì˜ˆì œ 1ì— ëŒ€í•´ ì •ë‹µìœ¼ë¡œ ê°€ëŠ¥í•œ ë„ë¡œ ë°°ì¹˜ ì¤‘ í•˜ë‚˜\nâ€ŠDis...,22874ë²ˆ: Distance on Triangulation 2,\nì²«ì§¸ ì¤„ì— N$N$(2â‰¤Nâ‰¤200Â 000$2 \leq N \leq 200\ 00...,"\nì²«ì§¸ ì¤„ì— âˆ‘i=1NDist(xi,yi)$\sum_{i=1}^{N} {Dist(...",\nëœ¨ë£¹ëœë“œëŠ” ì •ì ì´ 2N$2N$ê°œì¸ ë³¼ë¡ë‹¤ê°í˜• ëª¨ì–‘ì˜ ì™•êµ­ì´ë‹¤.\në³¼ë¡ë‹¤ê°í˜•ì˜ ê°...,False,"['3 ì´ˆ (ì¶”ê°€ ì‹œê°„ ì—†ìŒ) ', '1024 MB (ì¶”ê°€ ë©”ëª¨ë¦¬ ì—†ìŒ)', '42...","[ad_hoc, constructive, data_structures, disjoi..."
5963,24897,"[{'key': 'data_structures', 'isMeta': False, '...",2.0000,5,True,22,[],\n,\n,24897ë²ˆ: ìˆ² ê²Œì„,\nì²«ì§¸ ì¤„ì— ë‚˜ë¬´ì˜ ê°œìˆ˜ N$N$ê³¼ ë§¤ í„´ë§ˆë‹¤ ì›€ì§ì¼ ìˆ˜ ìˆëŠ” ìµœëŒ€ íšŸìˆ˜ K$K$...,"\nBê°€ ì´ê¸¸ ìˆ˜ ìˆëŠ” ê³µì§‘í•©ì´ ì•„ë‹Œ ë‚˜ë¬´ì§‘í•©ì˜ ê°œìˆ˜ë¥¼ 998244353$998\,...",\nBOJ ì›”ë“œì˜ ê¹Šì€ ì‚° ì† ìˆ­ê³ í•œ í˜‘ê³¡ì—ëŠ” N$N$ê°œì˜ ë‚˜ë¬´ë¡œ êµ¬ì„±ëœ ìˆ²ì´ ìˆë‹¤...,False,"['2 ì´ˆ (ì¶”ê°€ ì‹œê°„ ì—†ìŒ) ', '1024 MB (ì¶”ê°€ ë©”ëª¨ë¦¬ ì—†ìŒ)', '10...","[data_structures, dfs, dp, game_theory, gaussi..."
5972,24917,"[{'key': 'binary_search', 'isMeta': False, 'bo...",2.3333,3,True,23,[],"\n\n2 â‰¤ N â‰¤ 100,000\n1 â‰¤ MÂ â‰¤ N\n1 â‰¤ ui < vi â‰¤ ...",\n,24917ë²ˆ: ì§€ì—­ ìˆœíšŒ,"\nì²«ì§¸ ì¤„ì— ë‘Â ì •ìˆ˜ N, Mê°€ ê³µë°±ìœ¼ë¡œ êµ¬ë¶„ë˜ì–´ ì£¼ì–´ì§„ë‹¤.Â ë‘˜ì§¸ ì¤„ë¶€í„° N - ...",\nìœ ì¼í•œ ì¤„ì— ë¬¸ì œì˜ ë‹µì„ ê³µë°±ìœ¼ë¡œ êµ¬ë¶„í•˜ì—¬ ë‘Â ì‹¤ìˆ˜ë¡œ ì¶œë ¥í•œë‹¤. ì •ë‹µê³¼ì˜ ì ˆëŒ€ ...,\nê²½ê¸°ê³¼í•™ê³ ë“±í•™êµ ì¶œì‹ ì •ì¹˜ì¸ë“¤ì€ ì„œë¡œì˜ ì„±ê³µì„ ë„ëª¨í•˜ê¸° ìœ„í•´ í•¨ê»˜ ëª¨ì—¬ ì •ë‹¹ ê²½...,True,"['4 ì´ˆ ', '512 MB', '13', '5', '3', '42.857%']","[binary_search, data_structures, deque, dfs, d..."

#### íƒœê·¸

In [29]:
print("clean problem - íƒœê·¸ ì¡´ì¬ : ", len(clean_problem[clean_problem['problem_tags'] != '[]']))
print("clean problem - íƒœê·¸ ë¯¸ì¡´ì¬ : ", len(clean_problem[clean_problem['problem_tags'] == '[]']))

clean problem - íƒœê·¸ ì¡´ì¬ :  6722
clean problem - íƒœê·¸ ë¯¸ì¡´ì¬ :  144

In [30]:
is_tags = clean_problem['preprocessing_tags'].apply(lambda x: x != [])
is_tags_clean_list = clean_problem[is_tags]['problem_id']

In [ ]:
# print(len(set(clean_score_target)))
# print(len(set(is_tags_clean_list)))
# len(set(clean_score_target) - set(is_tags_clean_list))

In [32]:
one_tags = set([''.join(tag) for tag in clean_problem['preprocessing_tags'] if len(tag) == 1])

for tag in one_tags:
    print(tag, ":", Counter(tags)[tag])

backtracking : 304
bitset : 41
string : 1575
ternary_search : 40
coordinate_compression : 114
cht : 64
bitmask : 403
case_work : 414
dp : 2461
geometry : 856
recursion : 147
sweeping : 283
trees : 850
divide_and_conquer : 285
flow : 209
binary_search : 769
lis : 55
constructive : 483
sliding_window : 59
sqrt_decomposition : 63
arbitrary_precision : 172
implementation : 3490
hashing : 112
bruteforcing : 1344
bipartite_matching : 128
heuristics : 36
mitm : 66
prefix_sum : 492
sorting : 1060
inclusion_and_exclusion : 96
ad_hoc : 519
permutation_cycle_decomposition : 42
hungarian : 10
graphs : 2304
game_theory : 178
math : 3910
data_structures : 2252
greedy : 1371
two_pointer : 227

In [33]:
### clean_problem.csv
tags_clean_problem = clean_problem[clean_problem['problem_tags'] != '[]']
tags_clean_problem['tags_count'] = tags_clean_problem['problem_tags'].apply(lambda x: len(x.split('}]},')))
tags_clean_problem['tags_count'].describe()

count    6722.000000
mean        2.707825
std         1.468925
min         1.000000
25%         2.000000
50%         2.000000
75%         3.000000
max        19.000000
Name: tags_count, dtype: float64

In [34]:
### clean_problem.csv
clean_tags = list(chain(*clean_problem['preprocessing_tags'].to_list()))
clean_tags_count = Counter(tags).most_common()
print("íƒœê·¸ ê°œìˆ˜ : ", len(set(clean_tags)))
print("ê°€ì¥ ë§ì´ ë“±ì¥í•œ íƒœê·¸ ë° ì¹´ìš´íŠ¸ : \n", clean_tags_count[:10])
print("ê°€ì¥ ì ê²Œ ë“±ì¥í•œ íƒœê·¸ ë° ì¹´ìš´íŠ¸ : \n", clean_tags_count[-10:])

íƒœê·¸ ê°œìˆ˜ :  176
ê°€ì¥ ë§ì´ ë“±ì¥í•œ íƒœê·¸ ë° ì¹´ìš´íŠ¸ :
 [('math', 3910), ('implementation', 3490), ('dp', 2461), ('graphs', 2304), ('data_structures', 2252), ('string', 1575), ('greedy', 1371), ('bruteforcing', 1344), ('graph_traversal', 1261), ('sorting', 1060)]
ê°€ì¥ ì ê²Œ ë“±ì¥í•œ íƒœê·¸ ë° ì¹´ìš´íŠ¸ :
 [('green', 3), ('tree_compression', 3), ('utf8', 3), ('generating_function', 3), ('pick', 2), ('majority_vote', 2), ('chordal_graph', 2), ('top_tree', 2), ('a_star', 1), ('rb_tree', 1)]

#### levelë³„ ë¹„êµ

In [35]:
problem_level = problem.groupby('level')[['problem_id']].agg('count').rename(columns={'problem_id':'problem'})
problem_level

       problem
level
0         8010
1           72
2          124
3          462
4          809
5          553
6          538
7          566
8          592
9          591
10         666
11         663
12         790
13         815
14         738
15         670
16         753
17         720
18         784
19         744
20         677
21         667
22         617
23         429
24         334
25         286
26         211
27         112
28          61
29          22
30          14

In [36]:
clean_problem_level = clean_problem.groupby('level')[['problem_id']].agg('count').rename(columns={'problem_id':'clean_problem'})
clean_problem_level

       clean_problem
level
1                 55
2                 57
3                248
4                335
5                212
6                232
7                255
8                282
9                285
10               336
11               387
12               445
13               436
14               417
15               368
16               408
17               362
18               365
19               333
20               277
21               246
22               219
23               121
24               109
25                76

In [37]:
# problem - clean_problem ë¹„êµ
compare_level = pd.concat([problem_level, clean_problem_level], 1)
compare_level['diff'] = compare_level['problem'] - compare_level['clean_problem']
compare_level['diff_per'] = round(((compare_level['problem'] - compare_level['clean_problem']) / compare_level['problem']), 2)
compare_level

       problem  clean_problem   diff  diff_per
level
0         8010            NaN    NaN       NaN
1           72           55.0   17.0      0.24
2          124           57.0   67.0      0.54
3          462          248.0  214.0      0.46
4          809          335.0  474.0      0.59
5          553          212.0  341.0      0.62
6          538          232.0  306.0      0.57
7          566          255.0  311.0      0.55
8          592          282.0  310.0      0.52
9          591          285.0  306.0      0.52
10         666          336.0  330.0      0.50
11         663          387.0  276.0      0.42
12         790          445.0  345.0      0.44
13         815          436.0  379.0      0.47
14         738          417.0  321.0      0.43
15         670          368.0  302.0      0.45
16         753          408.0  345.0      0.46
17         720          362.0  358.0      0.50
18         784          365.0  419.0      0.53
19         744          333.0  411.0      0.55
20         677          277.0  400.0      0.59
21         667          246.0  421.0      0.63
22         617          219.0  398.0      0.65
23         429          121.0  308.0      0.72
24         334          109.0  225.0      0.67
25         286           76.0  210.0      0.73
26         211            NaN    NaN       NaN
27         112            NaN    NaN       NaN
28          61            NaN    NaN       NaN
29          22            NaN    NaN       NaN
30          14            NaN    NaN       NaN

# score.csv

In [38]:
score.head()

,score_id,user_name,problem_id,answer,memory,time,language,length,date,target
0,43129547,mado0421,1000.0,ë§ì•˜ìŠµë‹ˆë‹¤!!,2020.0,0.0,C++17,121.0,1652236901,1000
1,43129130,mado0421,2557.0,ë§ì•˜ìŠµë‹ˆë‹¤!!,2020.0,0.0,C++17,81.0,1652236186,1000
2,43129122,mado0421,2557.0,ë§ì•˜ìŠµë‹ˆë‹¤!!,2020.0,0.0,C++17,81.0,1652236172,1000
3,16789475,mado0421,10809.0,ë§ì•˜ìŠµë‹ˆë‹¤!!,1980.0,0.0,C++14,376.0,1578246921,1000
4,16789282,mado0421,11720.0,ë§ì•˜ìŠµë‹ˆë‹¤!!,1980.0,0.0,C++14,259.0,1578245686,1000

In [39]:
score.columns

Index(['score_id', 'user_name', 'problem_id', 'answer', 'memory', 'time',
       'language', 'length', 'date', 'target'],
      dtype='object')

In [40]:
score.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4742223 entries, 0 to 4742222
Data columns (total 10 columns):
 #   Column      Dtype
---  ------      -----
 0   score_id    int64
 1   user_name   object
 2   problem_id  float64
 3   answer      object
 4   memory      float64
 5   time        float64
 6   language    object
 7   length      float64
 8   date        int64
 9   target      int64
dtypes: float64(4), int64(3), object(3)
memory usage: 361.8+ MB

In [41]:
score['user_name'].nunique()

19918

### user_nameë³„ íƒìƒ‰

In [42]:
score_user_count = score.groupby('user_name')['score_id'].agg('count')
score_user_count.describe()

count     19918.000000
mean        238.087308
std        1680.182394
min           1.000000
25%          20.000000
50%          40.000000
75%         100.000000
max      106162.000000
Name: score_id, dtype: float64

In [43]:
score_user_count[score_user_count == 106162]

user_name
xiaowuc1    106162
Name: score_id, dtype: int64

In [44]:
target_unique_score = score.drop_duplicates(subset=['user_name', 'target'])
target_unique_score

,score_id,user_name,problem_id,answer,memory,time,language,length,date,target
0,43129547,mado0421,1000.0,ë§ì•˜ìŠµë‹ˆë‹¤!!,2020.0,0.0,C++17,121.0,1652236901,1000
20,43154792,midori,1000.0,ë§ì•˜ìŠµë‹ˆë‹¤!!,79508.0,12.0,Swift,154.0,1652265535,1000
40,43154763,littelsue,1000.0,ë§ì•˜ìŠµë‹ˆë‹¤!!,30840.0,68.0,Python 3,54.0,1652265504,1000
41,43165504,jinyoung438967,1000.0,ë§ì•˜ìŠµë‹ˆë‹¤!!,1112.0,0.0,C++17,93.0,1652277299,1000
47,43164785,khs7804kjs,1000.0,ë§ì•˜ìŠµë‹ˆë‹¤!!,1112.0,0.0,C++17,112.0,1652276559,1000
...,...,...,...,...,...,...,...,...,...,...
4742123,36930072,mym0404,6020.0,ë§ì•˜ìŠµë‹ˆë‹¤!!,2180.0,0.0,C++17,3288.0,1641059215,6020
4742143,24279538,azaz123,6020.0,ë§ì•˜ìŠµë‹ˆë‹¤!!,14904.0,160.0,Java 11,2267.0,1607468683,6020
4742163,16079482,snrnsidy,6020.0,ë§ì•˜ìŠµë‹ˆë‹¤!!,1992.0,0.0,C++14,1453.0,1573552211,6020
4742183,10530197,qwebnm7788,6020.0,ë§ì•˜ìŠµë‹ˆë‹¤!!,5900.0,4.0,C++14,971.0,1539843638,6020
4742203,8057062,cheetose,6020.0,ë§ì•˜ìŠµë‹ˆë‹¤!!,2772.0,0.0,C++11,2283.0,1521548475,6020

In [45]:
score[score['user_name'] == 'xiaowuc1'].drop_duplicates(subset='target').groupby('language')['score_id'].agg('count')

language
C++11              15
C++14             704
C++17            2654
C++17 (Clang)       1
C++20               1
C++98               1
Java 11             3
Java 8            916
Kotlin (JVM)       18
PyPy2              10
PyPy3             443
Python 2            1
Python 3            5
Text               52
Name: score_id, dtype: int64

In [46]:
score[score['user_name'] == 'xiaowuc1'].groupby('language')['score_id', 'target'].agg('count')

               score_id  target
language
C# 6.0 (Mono)         2       2
C++11               305     305
C++14             17285   17285
C++17             58293   58293
C++17 (Clang)         7       7
C++20                33      33
C++98                12      12
C11                  33      33
Java 11              47      47
Java 8            16397   16397
Kotlin (JVM)        523     523
PyPy2               646     646
PyPy3             11224   11224
Python 2             27      27
Python 3            188     188
Text               1140    1140

### problem_idë³„ í™•ì¸

In [47]:
score_problem_count = score.groupby('problem_id')['score_id'].agg('count')
score_problem_count.describe()

count    19803.000000
mean       239.469929
std        361.232613
min          1.000000
25%         42.000000
50%        131.000000
75%        284.000000
max      10367.000000
Name: score_id, dtype: float64

# clean_score
clean_problemì— í•´ë‹¹í•˜ëŠ” targetë§Œ ê°€ì ¸ì™€ íƒìƒ‰

[ìœ ì €]
- clean targetì„ í‘¼ ìœ ì € ìˆ˜ :  16407

[ë‹¨ê³„ ë¬¸ì œì™€ íƒ€ê²Ÿ ë¬¸ì œ ë¹„êµ]
- clean targetì„ í’€ê¸° ìœ„í•´ í‘¼ ë‹¨ê³„ ë¬¸ì œ ìˆ˜ :  17369
- ë‹¨ê³„ ë¬¸ì œ - íƒ€ê²Ÿ ë¬¸ì œ :  10503
- íƒ€ê²Ÿ ë¬¸ì œ - ë‹¨ê³„ ë¬¸ì œ :  0   
-> ì¦‰, íƒ€ê²Ÿ ë¬¸ì œëŠ” ëª¨ë‘ íƒ€ê²Ÿì„ ìœ„í•œ ë‹¨ê³„ ë¬¸ì œë¡œë„ í™œìš© ë¨

In [48]:
clean_problem_ids = clean_problem['problem_id']
clean_score = score[score['target'].isin(clean_problem_ids)]
clean_score['problem_id'] = clean_score['problem_id'].apply(lambda x: int(x))
clean_score

,score_id,user_name,problem_id,answer,memory,time,language,length,date,target
0,43129547,mado0421,1000,ë§ì•˜ìŠµë‹ˆë‹¤!!,2020.0,0.0,C++17,121.0,1652236901,1000
1,43129130,mado0421,2557,ë§ì•˜ìŠµë‹ˆë‹¤!!,2020.0,0.0,C++17,81.0,1652236186,1000
2,43129122,mado0421,2557,ë§ì•˜ìŠµë‹ˆë‹¤!!,2020.0,0.0,C++17,81.0,1652236172,1000
3,16789475,mado0421,10809,ë§ì•˜ìŠµë‹ˆë‹¤!!,1980.0,0.0,C++14,376.0,1578246921,1000
4,16789282,mado0421,11720,ë§ì•˜ìŠµë‹ˆë‹¤!!,1980.0,0.0,C++14,259.0,1578245686,1000
...,...,...,...,...,...,...,...,...,...,...
4736465,22213298,bone,2251,ë§ì•˜ìŠµë‹ˆë‹¤!!,31864.0,80.0,Python 3,675.0,1598943542,6000
4736466,22212385,bone,2251,ë§ì•˜ìŠµë‹ˆë‹¤!!,9920.0,0.0,C++14,996.0,1598941697,6000
4736467,22211265,bone,2493,ë§ì•˜ìŠµë‹ˆë‹¤!!,89468.0,664.0,Python 3,203.0,1598939430,6000
4736468,22211076,bone,2493,ë§ì•˜ìŠµë‹ˆë‹¤!!,7064.0,164.0,C++14,326.0,1598939048,6000
4736469,22207910,bone,2599,ë§ì•˜ìŠµë‹ˆë‹¤!!,1984.0,0.0,C++14,1082.0,1598931666,6000

In [49]:
print("clean targetì„ ë§ì€ ìœ ì € ìˆ˜ : ", clean_score['user_name'].nunique())
print("clean targetì„ í’€ê¸° ìœ„í•´ í‘¼ ë‹¨ê³„ ë¬¸ì œ ìˆ˜ : ", clean_score['problem_id'].nunique())
print("ë‹¨ê³„ ë¬¸ì œ - íƒ€ê²Ÿ ë¬¸ì œ : ", len(set(clean_score['problem_id']) - set(clean_score['target'])))
print("íƒ€ê²Ÿ ë¬¸ì œ - ë‹¨ê³„ ë¬¸ì œ : ", len(set(clean_score['target'])- set(clean_score['problem_id'])))

clean targetì„ ë§ì€ ìœ ì € ìˆ˜ :  16407
clean targetì„ í’€ê¸° ìœ„í•´ í‘¼ ë‹¨ê³„ ë¬¸ì œ ìˆ˜ :  17369
ë‹¨ê³„ ë¬¸ì œ - íƒ€ê²Ÿ ë¬¸ì œ :  10503
íƒ€ê²Ÿ ë¬¸ì œ - ë‹¨ê³„ ë¬¸ì œ :  0

## all-clean score (target, problem_id)
 - 1,984,978ê°œì˜ rows

In [50]:
all_clean_score = clean_score[clean_score['problem_id'].isin(clean_problem_ids)]
all_clean_score

,score_id,user_name,problem_id,answer,memory,time,language,length,date,target
0,43129547,mado0421,1000,ë§ì•˜ìŠµë‹ˆë‹¤!!,2020.0,0.0,C++17,121.0,1652236901,1000
1,43129130,mado0421,2557,ë§ì•˜ìŠµë‹ˆë‹¤!!,2020.0,0.0,C++17,81.0,1652236186,1000
2,43129122,mado0421,2557,ë§ì•˜ìŠµë‹ˆë‹¤!!,2020.0,0.0,C++17,81.0,1652236172,1000
3,16789475,mado0421,10809,ë§ì•˜ìŠµë‹ˆë‹¤!!,1980.0,0.0,C++14,376.0,1578246921,1000
4,16789282,mado0421,11720,ë§ì•˜ìŠµë‹ˆë‹¤!!,1980.0,0.0,C++14,259.0,1578245686,1000
...,...,...,...,...,...,...,...,...,...,...
4736465,22213298,bone,2251,ë§ì•˜ìŠµë‹ˆë‹¤!!,31864.0,80.0,Python 3,675.0,1598943542,6000
4736466,22212385,bone,2251,ë§ì•˜ìŠµë‹ˆë‹¤!!,9920.0,0.0,C++14,996.0,1598941697,6000
4736467,22211265,bone,2493,ë§ì•˜ìŠµë‹ˆë‹¤!!,89468.0,664.0,Python 3,203.0,1598939430,6000
4736468,22211076,bone,2493,ë§ì•˜ìŠµë‹ˆë‹¤!!,7064.0,164.0,C++14,326.0,1598939048,6000
4736469,22207910,bone,2599,ë§ì•˜ìŠµë‹ˆë‹¤!!,1984.0,0.0,C++14,1082.0,1598931666,6000

### ì–¸ì–´ë³„ íƒìƒ‰

In [51]:
all_clean_score_language = all_clean_score.groupby('language')['target'].agg('count').sort_values(ascending=False)
all_clean_score_language[:20]

language
C++17           861176
Python 3        349658
PyPy3           164320
Java 11         132715
C++14           130544
C++20            71556
Java 8           70238
C99              43906
C++11            41543
C++98            16894
node.js          14625
Kotlin (JVM)     12308
Text              9795
C11               9227
Swift             8652
Rust 2018         7613
C#                7365
Rust 2021         5545
Go                4150
Java 15           3802
Name: target, dtype: int64

In [52]:
all_clean_score_language.describe()

count        82.000000
mean      24207.048780
std      104958.160029
min           1.000000
25%          11.500000
50%         168.000000
75%        3393.250000
max      861176.000000
Name: target, dtype: float64

In [53]:
all_clean_score_language[-10:]

language
R                5
Haxe             5
F# (Mono)        3
C# 3.0 (Mono)    2
Algol 68         2
Haskell          2
Tcl              1
SpiderMonkey     1
Rhino            1
Cobol            1
Name: target, dtype: int64

### ìœ ì €ë³„ íƒìƒ‰

In [54]:
all_clean_score_user = all_clean_score.groupby('user_name')['target'].agg('count').sort_values(ascending=False)
print(len(all_clean_score_user))
all_clean_score_user[:10]

16405

user_name
jhnah917         8924
asz2325          8024
xiaowuc1         7508
mym0404          7149
thenitromefan    6489
pjshwa           6075
serendip2021     5724
dyim0403         5675
jinhan814        5619
cozyyg           5602
Name: target, dtype: int64

In [55]:
all_clean_score_user.describe()

count    16405.000000
mean       120.998354
std        337.179444
min          1.000000
25%         20.000000
50%         40.000000
75%         99.000000
max       8924.000000
Name: target, dtype: float64

### í‹°ì–´ë³„ íƒìƒ‰

In [101]:
tier_dict = {'0':'unrated', '1':'Bronze 5', '2':'Bronze 4', '3':'Bronze 3', '4':'Bronze 2', '5':'Bronze 1',
             '6':'Silver 5', '7':'Silver 4', '8':'Silver 3', '9':'Silver 2', '10':'Silver 1',
             '11':'Gold 5', '12':'Gold 4', '13':'Gold 3', '14':'Gold 2', '15':'Gold 1',
             '16':'Platinum 5', '17':'Platinum 4', '18':'Platinum 3', '19':'Platinum 2', '20':'Platinum 1',
             '21':'Diamond 5', '22':'Diamond 4', '23':'Diamond 3', '24':'Diamond 2', '25':'Diamond 1',
             '26':'Ruby 5', '27':'Ruby 4', '28':'Ruby 3', '29':'Ruby 2', '30':'Ruby 1'}

In [103]:
user[user['user_name'].isin(set(all_clean_score['user_name']))]['tier'].value_counts().sort_index()

0       81
1      159
2      147
3      150
4      156
5      304
6      678
7      653
8      612
9      893
10     870
11     948
12     998
13    1093
14    1023
15    1330
16     877
17     552
18     300
19     208
20     176
21     189
22     110
23      90
24      67
25      56
26      46
27      15
28       8
29       6
30       4
31      16
Name: tier, dtype: int64

In [104]:
clean_score_target = list(clean_score['target'])

In [105]:
clean_score.groupby('target')['score_id'].agg('count').describe()

count    6866.000000
mean      327.681328
std       139.372351
min         3.000000
25%       260.000000
50%       320.000000
75%       364.000000
max       800.000000
Name: score_id, dtype: float64

## non-clean(ì œì™¸ëœ ë¬¸ì œ) íƒìƒ‰

In [106]:
non_clean_score = score[score['target'].isin(clean_problem_ids) == False]
non_clean_score['problem_id'] = non_clean_score['problem_id'].apply(lambda x: int(x))
print("non clean targetì„ ë§ì€ ìœ ì € ìˆ˜ : ", non_clean_score['user_name'].nunique())

non clean targetì„ ë§ì€ ìœ ì € ìˆ˜ :  7981

In [107]:
print(len(set(all_clean_score['user_name']) - set(non_clean_user)))
print(len(set(clean_score['user_name']) - set(non_clean_user)))

16405
16407

#### (all_clean - clean) user íƒìƒ‰
- all_clean - clean : clean targetë¬¸ì œë¥¼ ìœ„í•œ ë‹¨ê³„ë¬¸ì œë¡œ non clean ë¬¸ì œë§Œ í‘¼ ìœ ì €
    - 1pennyplz : 2íšŒ ì œì¶œ(1ë¬¸ì œ) -> ì˜ì–´ ë¬¸ì œ
    - dad0401 : 1íšŒ ì œì¶œ(1ë¬¸ì œ) -> unranked ë¬¸ì œ

In [108]:
non_clean_user = set(score['user_name']) - set(clean_score['user_name'])
non_all_clean_user = set(score['user_name']) - set(all_clean_score['user_name'])

print(len(non_clean_user), len(non_all_clean_user))
print(set(non_all_clean_user) - set(non_clean_user))

3511 3513
{'1pennyplz', 'dad0401'}

In [109]:
score[score['user_name'].isin(['1pennyplz', 'dad0401'])]

,score_id,user_name,problem_id,answer,memory,time,language,length,date,target
1280488,15381647,1pennyplz,10527.0,ë§ì•˜ìŠµë‹ˆë‹¤!!,23824.0,500.0,C++14,705.0,1569652828,17494
3235745,15381647,1pennyplz,10527.0,ë§ì•˜ìŠµë‹ˆë‹¤!!,23824.0,500.0,C++14,705.0,1569652828,17494
3771662,34873398,dad0401,10930.0,ë§ì•˜ìŠµë‹ˆë‹¤!!,148428.0,324.0,PyPy3,105.0,1635495254,20929

In [110]:
problem[problem['problem_id'].isin([10527, 10930])]

,problem_id,problem_tags,average_tries,accepted_user_count,is_solvable,level,problem_association,problem_limit,problem_hint,title,problem_input,problem_output,problem_description,is_partial,problem_info,preprocessing_tags
8755,10527,"[{'key': 'data_structures', 'isMeta': False, '...",1.9298,171,True,6,[],\n,\n,10527ë²ˆ: Judging Troubles,\nThe input consists of:\n\none line with one ...,\nOutput one line with the maximum number of j...,\nThe NWERC organisers have decided that they ...,False,"['1 ì´ˆ ', '256 MB', '443', '213', '171', '51.81...","[data_structures, hash_set, implementation, so..."
9143,10930,"[{'key': 'implementation', 'isMeta': False, 'b...",1.2847,1454,True,0,[],\n,\n,10930ë²ˆ: SHA-256,"\nì²«ì§¸ ì¤„ì— ë¬¸ìì—´ Sê°€ ì£¼ì–´ì§„ë‹¤. SëŠ” ì•ŒíŒŒë²³ ëŒ€ë¬¸ìì™€ ì†Œë¬¸ì, ê·¸ë¦¬ê³ ìˆ«ìë¡œë§Œ...",\nì²«ì§¸ ì¤„ì— Sì˜ SHA-256 í•´ì‹œê°’ì„ ì¶œë ¥í•œë‹¤.\n,"\në¬¸ìì—´ Sê°€ ì£¼ì–´ì¡Œì„ ë•Œ, SHA-256 í•´ì‹œê°’ì„ êµ¬í•˜ëŠ” í”„ë¡œê·¸ë¨ì„ ì‘ì„±í•˜ì‹œì˜¤.\n",False,"['1 ì´ˆ ', '256 MB', '2198', '1643', '1454', '77...","[implementation, string]"

In [111]:
len(set(all_clean_score['user_name']))

16405

In [113]:
non_clean_user = list(set(score['user_name']) - set(clean_score['user_name']))  # 2ëª…ì€ íƒìƒ‰í–ˆìœ¼ë‹ˆ ê·¸ëƒ¥ clean_scoreê³¼ ë¹„êµ
score[score['user_name'].isin(non_clean_user)]

,score_id,user_name,problem_id,answer,memory,time,language,length,date,target
55855,17102591,sedm3626,1192.0,ë§ì•˜ìŠµë‹ˆë‹¤!!,127180.0,2412.0,PyPy3,700.0,1579491557,1192
58690,8196763,isku,1203.0,ë§ì•˜ìŠµë‹ˆë‹¤!!,16784.0,140.0,Java 8,1579.0,1522422566,1203
58691,8165538,isku,9020.0,ë§ì•˜ìŠµë‹ˆë‹¤!!,32780.0,552.0,Java 8,710.0,1522246705,1203
58692,8152719,isku,15595.0,ë§ì•˜ìŠµë‹ˆë‹¤!!,53256.0,468.0,Java 8,1170.0,1522169262,1203
58693,8119581,isku,14905.0,ë§ì•˜ìŠµë‹ˆë‹¤!!,112364.0,1256.0,Java 8,840.0,1521986376,1203
...,...,...,...,...,...,...,...,...,...,...
4742158,23862712,azaz123,6041.0,ë§ì•˜ìŠµë‹ˆë‹¤!!,17860.0,160.0,Java 11,2235.0,1605417779,6020
4742159,23862272,azaz123,6040.0,ë§ì•˜ìŠµë‹ˆë‹¤!!,19100.0,268.0,Java 11,2179.0,1605416266,6020
4742160,23861752,azaz123,6039.0,ë§ì•˜ìŠµë‹ˆë‹¤!!,56048.0,316.0,Java 11,2261.0,1605413840,6020
4742161,23860077,azaz123,6184.0,ë§ì•˜ìŠµë‹ˆë‹¤!!,20944.0,288.0,Java 11,1784.0,1605405327,6020
4742162,23859664,azaz123,6183.0,ë§ì•˜ìŠµë‹ˆë‹¤!!,52324.0,912.0,Java 11,1924.0,1605402688,6020

(all_clean - clean) tier ë¹„êµ

In [149]:
all_clean_user_tier = user[user['user_name'].isin(set(all_clean_score['user_name']))][['tier']].value_counts().sort_index()
non_clean_user_tier = user[user['user_name'].isin(non_clean_user)][['tier']].value_counts().sort_index()

compare_user_tier = pd.concat([all_clean_user_tier, non_clean_user_tier], 1)
compare_user_tier.rename(columns={0:'all_clean', 1:'non_clean'}, inplace=True)
compare_user_tier['all_ratio'] = round((compare_user_tier['all_clean'] / (compare_user_tier['non_clean']+compare_user_tier['all_clean'])), 2)
compare_user_tier

      all_clean  non_clean  all_ratio
tier
0            81       28.0       0.74
1           159       27.0       0.85
2           147       24.0       0.86
3           150       18.0       0.89
4           156       20.0       0.89
5           304       42.0       0.88
6           678      108.0       0.86
7           653       89.0       0.88
8           612       80.0       0.88
9           893      113.0       0.89
10          870      132.0       0.87
11          948      137.0       0.87
12          998      110.0       0.90
13         1093      147.0       0.88
14         1023      126.0       0.89
15         1330      175.0       0.88
16          877      120.0       0.88
17          552       60.0       0.90
18          300       36.0       0.89
19          208       19.0       0.92
20          176        4.0       0.98
21          189        4.0       0.98
22          110        NaN        NaN
23           90        NaN        NaN
24           67        NaN        NaN
25           56        NaN        NaN
26           46        NaN        NaN
27           15        NaN        NaN
28            8        NaN        NaN
29            6        NaN        NaN
30            4        NaN        NaN
31           16        NaN        NaN

# user.csv

In [114]:
user.columns

Index(['user_name', 'bio', 'organizations', 'badge', 'background',
       'profileImageUrl', 'solvedCount', 'voteCount', 'class',
       'classDecoration', 'tier', 'rating', 'ratingByProblemsSum',
       'ratingByClass', 'ratingBySolvedCount', 'ratingByVoteCount', 'exp',
       'rivalCount', 'reverseRivalCount', 'maxStreak', 'proUntil', 'rank',
       'problems', 'problems_count'],
      dtype='object')

In [115]:
user[user['user_name'].isin(list(clean_score['user_name']))]

,user_name,bio,organizations,badge,background,profileImageUrl,solvedCount,voteCount,class,classDecoration,...,ratingBySolvedCount,ratingByVoteCount,exp,rivalCount,reverseRivalCount,maxStreak,proUntil,rank,problems,problems_count
0,koosaga,ì‘ì• ì‘ì• HLD~ ì‘ì• ì‘ì• ë§í¬ì»·~ ì‘ì• ì‘ì• íƒ‘íŠ¸ë¦¬~,"[{'organizationId': 394, 'name': 'KAIST', 'typ...","{'badgeId': 'orangecup', 'badgeImageUrl': 'htt...","{'backgroundId': 's2020-ruby1', 'backgroundIma...",https://static.solved.ac/uploads/profile/koosa...,11193,3024,10,gold,...,175,25,14387363136,5,98,24,2022-06-01T00:00:00.000Z,1,"['1000', '1001', '1002', '1003', '1004', '1005...",11226
1,cki86201,NaN,"[{'organizationId': 299, 'name': 'ì„œìš¸ëŒ€í•™êµ', 'typ...",NaN,"{'backgroundId': 'abstract_001_light', 'backgr...",NaN,6062,261,10,gold,...,175,25,10294666221,0,25,3,NaN,2,"['1000', '1001', '1002', '1003', '1004', '1005...",6096
2,mitnegativeinfinity,NaN,"[{'organizationId': 440, 'name': 'MIT', 'type'...","{'badgeId': 'beta_contributor', 'badgeImageUrl...","{'backgroundId': 'balloon_001', 'backgroundIma...",NaN,2237,462,10,none,...,175,25,6369127360,0,12,8,NaN,3,"['1000', '1001', '1019', '1056', '1067', '1144...",2239
3,ainta,NaN,"[{'organizationId': 299, 'name': 'ì„œìš¸ëŒ€í•™êµ', 'typ...",NaN,"{'backgroundId': 's2020-ruby1', 'backgroundIma...",NaN,4122,132,10,none,...,175,25,7049012681,0,14,2,NaN,4,"['1000', '1001', '1002', '1003', '1004', '1005...",4149
4,yclock,Let yclock Win ICPC WF!,"[{'organizationId': 299, 'name': 'ì„œìš¸ëŒ€í•™êµ', 'typ...","{'badgeId': 'beta_contributor', 'badgeImageUrl...","{'backgroundId': 'ucpc2021', 'backgroundImageU...",NaN,2671,586,10,none,...,175,25,4134310302,0,14,6,NaN,5,"['1000', '1001', '1002', '1003', '1004', '1005...",2683
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67097,archipelago,NaN,[],NaN,"{'backgroundId': 'balloon_004', 'backgroundIma...",NaN,0,0,0,none,...,0,0,0,0,0,0,NaN,67034,['6132'],1
67130,berryzed,NaN,[],NaN,"{'backgroundId': 'abstract_001_light', 'backgr...",NaN,0,0,0,none,...,0,0,0,0,0,0,NaN,67034,"['1000', '1001', '1002', '1008', '1010', '2163...",36
67596,jinwoongma,NaN,[],NaN,"{'backgroundId': 'balloon_005', 'backgroundIma...",NaN,0,0,0,none,...,0,0,0,0,0,0,NaN,67034,"['1000', '1001', '1012', '1018', '1026', '1062...",190
67864,number,NaN,[],NaN,"{'backgroundId': 'balloon_001', 'backgroundIma...",NaN,26,0,0,none,...,0,0,0,0,0,0,NaN,67034,"['1220', '1533', '1616', '1699', '1912', '2239...",25
68036,seokhan94,NaN,[],NaN,"{'backgroundId': 'balloon_004', 'backgroundIma...",NaN,0,0,0,none,...,0,0,0,0,0,0,NaN,67034,"['1000', '1001', '1005', '1007', '1008', '1010...",514

# course.csv

- í‚¤ì›Œë“œ : 'ì½”í…Œ', 'ê¸°ì—…', 'ì½”ë”© í…ŒìŠ¤íŠ¸', 'ê¸°ì¶œ'
- í‚¤ì›Œë“œë¥¼ í¬í•¨í•œ ì½”ìŠ¤ë“¤ì„ ë½‘ê³ , ì½”ìŠ¤ë“¤ì´ í´ë¦° ë¬¸ì œë“¤ë¡œ ì´ë£¨ì–´ì¡ŒëŠ”ì§€ í™•ì¸í•¨

    - í‚¤ì›Œë“œê°€ ë“¤ì–´ê°„ ì½”ìŠ¤ ê°œìˆ˜ :  69
    - clean ë¬¸ì œë“¤ë¡œë§Œ ì´ë£¨ì–´ì§„ ì½”ìŠ¤ :  46
    - clean ë¬¸ì œë“¤ë¡œë§Œ ì´ë£¨ì–´ì§€ì§€ ì•Šì€ ì½”ìŠ¤ :  23
    -> ë§ì€ ê²½ìš° clean ë¬¸ì œë“¤ë¡œ ì´ë£¨ì–´ì¡ŒìŒ. ë¹„ìœ¨ì´ ë‚®ì€ ë¬¸ì œì§‘ë“¤ì„ ì‚´í´ë³´ê¸° 'ê¸°ì¶œ' í‚¤ì›Œë“œì— ê±¸ë ¸ê³ , ì•Œê³ ë¦¬ì¦˜ ëŒ€íšŒ ê¸°ì¶œ ë¬¸ì œë¥¼ ëª¨ì•„ë‘” ë¬¸ì œì§‘ì„

In [153]:
course_all = pd.read_csv('course_data_list.csv')
course_detail = pd.read_csv('course_detail.csv')

In [160]:
course_detail.head()

,course_id,problem_num,title,correct_count,submmission_count,correct_ratio,detail
0,1152,13460,êµ¬ìŠ¬ íƒˆì¶œ 2,10095,63196,26.728%,ì‚¼ì„± SW ì—­ëŸ‰ í…ŒìŠ¤íŠ¸ ê¸°ì¶œ ë¬¸ì œê¸°ì¶œ - baekjoon
1,1152,12100,2048 (Easy),9665,60182,25.519%,ì‚¼ì„± SW ì—­ëŸ‰ í…ŒìŠ¤íŠ¸ ê¸°ì¶œ ë¬¸ì œê¸°ì¶œ - baekjoon
2,1152,3190,ë±€,13003,48024,39.111%,ì‚¼ì„± SW ì—­ëŸ‰ í…ŒìŠ¤íŠ¸ ê¸°ì¶œ ë¬¸ì œê¸°ì¶œ - baekjoon
3,1152,13458,ì‹œí—˜ ê°ë…,14161,67487,27.603%,ì‚¼ì„± SW ì—­ëŸ‰ í…ŒìŠ¤íŠ¸ ê¸°ì¶œ ë¬¸ì œê¸°ì¶œ - baekjoon
4,1152,14499,ì£¼ì‚¬ìœ„ êµ´ë¦¬ê¸°,11132,35791,43.181%,ì‚¼ì„± SW ì—­ëŸ‰ í…ŒìŠ¤íŠ¸ ê¸°ì¶œ ë¬¸ì œê¸°ì¶œ - baekjoon

In [193]:
course_description = list(set(course_detail['detail']))
# course_description
# course_description = [course for course in course course_description if 'ì½”í…Œ' in course]

In [198]:
coding_test_detail = []
for keyword in ['ì½”í…Œ', 'ê¸°ì—…', 'ì½”ë”© í…ŒìŠ¤íŠ¸', 'ê¸°ì¶œ']:
    coding_test_detail = coding_test_detail + [course for course in course_description if keyword in course]
coding_test_detail = list(set(coding_test_detail))
len(coding_test_detail)

69

In [199]:
coding_test_course = course_detail[course_detail['detail'].isin(coding_test_detail)] 
print(coding_test_course['course_id'].nunique())
coding_test_course.head()

69

,course_id,problem_num,title,correct_count,submmission_count,correct_ratio,detail
0,1152,13460,êµ¬ìŠ¬ íƒˆì¶œ 2,10095,63196,26.728%,ì‚¼ì„± SW ì—­ëŸ‰ í…ŒìŠ¤íŠ¸ ê¸°ì¶œ ë¬¸ì œê¸°ì¶œ - baekjoon
1,1152,12100,2048 (Easy),9665,60182,25.519%,ì‚¼ì„± SW ì—­ëŸ‰ í…ŒìŠ¤íŠ¸ ê¸°ì¶œ ë¬¸ì œê¸°ì¶œ - baekjoon
2,1152,3190,ë±€,13003,48024,39.111%,ì‚¼ì„± SW ì—­ëŸ‰ í…ŒìŠ¤íŠ¸ ê¸°ì¶œ ë¬¸ì œê¸°ì¶œ - baekjoon
3,1152,13458,ì‹œí—˜ ê°ë…,14161,67487,27.603%,ì‚¼ì„± SW ì—­ëŸ‰ í…ŒìŠ¤íŠ¸ ê¸°ì¶œ ë¬¸ì œê¸°ì¶œ - baekjoon
4,1152,14499,ì£¼ì‚¬ìœ„ êµ´ë¦¬ê¸°,11132,35791,43.181%,ì‚¼ì„± SW ì—­ëŸ‰ í…ŒìŠ¤íŠ¸ ê¸°ì¶œ ë¬¸ì œê¸°ì¶œ - baekjoon

In [200]:
coding_test_course['is_clean_problem'] = coding_test_course['problem_num'].apply(lambda x: 1 if x in set(clean_problem['problem_id']) else 0)
coding_test_course.head()
# coding_test_group = coding_test_course.groupby('course_id').agg('count')['title']

,course_id,problem_num,title,correct_count,submmission_count,correct_ratio,detail,is_clean_problem
0,1152,13460,êµ¬ìŠ¬ íƒˆì¶œ 2,10095,63196,26.728%,ì‚¼ì„± SW ì—­ëŸ‰ í…ŒìŠ¤íŠ¸ ê¸°ì¶œ ë¬¸ì œê¸°ì¶œ - baekjoon,1
1,1152,12100,2048 (Easy),9665,60182,25.519%,ì‚¼ì„± SW ì—­ëŸ‰ í…ŒìŠ¤íŠ¸ ê¸°ì¶œ ë¬¸ì œê¸°ì¶œ - baekjoon,1
2,1152,3190,ë±€,13003,48024,39.111%,ì‚¼ì„± SW ì—­ëŸ‰ í…ŒìŠ¤íŠ¸ ê¸°ì¶œ ë¬¸ì œê¸°ì¶œ - baekjoon,1
3,1152,13458,ì‹œí—˜ ê°ë…,14161,67487,27.603%,ì‚¼ì„± SW ì—­ëŸ‰ í…ŒìŠ¤íŠ¸ ê¸°ì¶œ ë¬¸ì œê¸°ì¶œ - baekjoon,1
4,1152,14499,ì£¼ì‚¬ìœ„ êµ´ë¦¬ê¸°,11132,35791,43.181%,ì‚¼ì„± SW ì—­ëŸ‰ í…ŒìŠ¤íŠ¸ ê¸°ì¶œ ë¬¸ì œê¸°ì¶œ - baekjoon,1

In [201]:
coding_test_group = coding_test_course.groupby('course_id').agg(['count', 'sum'])['is_clean_problem']
coding_test_group['clean_ratio'] = round((coding_test_group['sum'] / coding_test_group['count']), 2)
coding_test_group.sort_values('clean_ratio', inplace=True)
coding_test_group

           count  sum  clean_ratio
course_id
7702         100   12         0.12
1718          10    3         0.30
7703         100   48         0.48
4357          95   52         0.55
2396          66   38         0.58
...          ...  ...          ...
9377          11   11         1.00
9378          10   10         1.00
9379           5    5         1.00
9381          11   11         1.00
11268         12   12         1.00

[69 rows x 3 columns]

In [202]:
print("í‚¤ì›Œë“œê°€ ë“¤ì–´ê°„ ì½”ìŠ¤ ê°œìˆ˜ : ", len(coding_test_group))
print("clean ë¬¸ì œë“¤ë¡œë§Œ ì´ë£¨ì–´ì§„ ì½”ìŠ¤ : ", len(coding_test_group[coding_test_group['clean_ratio'] == 1.00]))
print("clean ë¬¸ì œë“¤ë¡œë§Œ ì´ë£¨ì–´ì§€ì§€ ì•Šì€ ì½”ìŠ¤ : ", len(coding_test_group[coding_test_group['clean_ratio'] != 1.00]))

í‚¤ì›Œë“œê°€ ë“¤ì–´ê°„ ì½”ìŠ¤ ê°œìˆ˜ :  69
clean ë¬¸ì œë“¤ë¡œë§Œ ì´ë£¨ì–´ì§„ ì½”ìŠ¤ :  46
clean ë¬¸ì œë“¤ë¡œë§Œ ì´ë£¨ì–´ì§€ì§€ ì•Šì€ ì½”ìŠ¤ :  23

In [203]:
coding_test_group[coding_test_group['clean_ratio'] != 1.00]

           count  sum  clean_ratio
course_id
7702         100   12         0.12
1718          10    3         0.30
7703         100   48         0.48
4357          95   52         0.55
2396          66   38         0.58
3072          36   21         0.58
4401           9    7         0.78
9681          35   28         0.80
2954          28   23         0.82
9680          55   46         0.84
9373           7    6         0.86
2163         100   86         0.86
9678          51   45         0.88
5778           9    8         0.89
9392           9    8         0.89
8352          44   41         0.93
6690          57   55         0.96
2147          75   72         0.96
9679          58   57         0.98
7893          56   55         0.98
9677          54   53         0.98
11039        100   99         0.99
2063         100   99         0.99

course ë°ì´í„°ì—ì„œ ë³´ê¸°

In [207]:
print(course_detail[course_detail['course_id'] == 7702].iloc[0])
course[course['course_id'] == 7702]

course_id                                          7702
problem_num                                       18268
title                                    Cow Gymnastics
correct_count                                       297
submmission_count                                   626
correct_ratio                                   56.357%
detail               USACO ë¬¸ì œì§‘USACO ê¸°ì¶œ ë¬¸ì œì…ë‹ˆë‹¤. - soo7652
Name: 37414, dtype: object

,course_id,author,course_name,course_name_main,problem_num,title,correct_count,submmission_count,correct_ratio
37414,7702,soo7652,USACO ë¬¸ì œì§‘,-,18268,Cow Gymnastics,297,626,56.357%
37415,7702,soo7652,USACO ë¬¸ì œì§‘,-,18270,Livestock Lineup,139,263,67.150%
37416,7702,soo7652,USACO ë¬¸ì œì§‘,-,18323,Photoshoot,212,753,36.678%
37417,7702,soo7652,USACO ë¬¸ì œì§‘,-,18787,Mad Scientist,232,372,71.385%
37418,7702,soo7652,USACO ë¬¸ì œì§‘,-,18788,Swapity Swap,144,463,38.400%
...,...,...,...,...,...,...,...,...,...
37509,7702,soo7652,USACO ë¬¸ì œì§‘,-,15757,Out of Sorts,49,175,33.562%
37510,7702,soo7652,USACO ë¬¸ì œì§‘,-,15758,Milking Order,85,238,45.699%
37511,7702,soo7652,USACO ë¬¸ì œì§‘,-,15759,Talent Show,47,262,25.000%
37512,7702,soo7652,USACO ë¬¸ì œì§‘,-,16763,Fine Dining,104,307,43.154%
37513,7702,soo7652,USACO ë¬¸ì œì§‘,-,16764,Cowpatibility,112,394,36.129%

In [213]:
print(course_detail[course_detail['course_id'] == 1718].iloc[0])
course[course['course_id'] == 1718]

course_id                                                   1718
problem_num                                                 5506
title                                                    Contact
correct_count                                                  5
submmission_count                                             47
correct_ratio                                            41.667%
detail               USACO Training ê¸°ì¶œtrain.usaco.org - kinssang
Name: 30537, dtype: object

,course_id,author,course_name,course_name_main,problem_num,title,correct_count,submmission_count,correct_ratio
30537,1718,kinssang,USACO Training ê¸°ì¶œ,-,5506,Contact,5,47,41.667%
30538,1718,kinssang,USACO Training ê¸°ì¶œ,-,6126,Cow Cash,32,67,64.000%
30539,1718,kinssang,USACO Training ê¸°ì¶œ,-,9881,Ski Course Design,253,706,44.231%
30540,1718,kinssang,USACO Training ê¸°ì¶œ,-,6605,Humble Numbers,32,115,32.653%
30541,1718,kinssang,USACO Training ê¸°ì¶œ,-,2234,ì„±ê³½,2468,7469,45.102%
30542,1718,kinssang,USACO Training ê¸°ì¶œ,-,7489,íŒ©í† ë¦¬ì–¼,486,1502,41.327%
30543,1718,kinssang,USACO Training ê¸°ì¶œ,-,5508,Party Lamps,12,12,100.000%
30544,1718,kinssang,USACO Training ê¸°ì¶œ,-,2241,ì¹´ë©œë¡¯,5,124,8.621%
30545,1718,kinssang,USACO Training ê¸°ì¶œ,-,2409,íŒŒì´í”„ ìë¥´ê¸°,3,810,2.830%
30546,1718,kinssang,USACO Training ê¸°ì¶œ,-,5507,Starry Night,9,30,33.333%

In [214]:
print(course_detail[course_detail['course_id'] == 7703].iloc[0])
course[course['course_id'] == 7703]

course_id                                                         7703
problem_num                                                      20036
title                                                   Ball Alignment
correct_count                                                       58
submmission_count                                                  342
correct_ratio                                                  27.103%
detail               ACM ICPC Korea Regional ë¬¸ì œì§‘ACM ICPC Korea Regi...
Name: 37314, dtype: object

,course_id,author,course_name,course_name_main,problem_num,title,correct_count,submmission_count,correct_ratio
37314,7703,soo7652,ACM ICPC Korea Regional ë¬¸ì œì§‘,-,20036,Ball Alignment,58,342,27.103%
37315,7703,soo7652,ACM ICPC Korea Regional ë¬¸ì œì§‘,-,20037,Bit String,23,372,8.099%
37316,7703,soo7652,ACM ICPC Korea Regional ë¬¸ì œì§‘,-,20039,Coronavirus Trend,67,198,43.506%
37317,7703,soo7652,ACM ICPC Korea Regional ë¬¸ì œì§‘,-,20040,ì‚¬ì´í´ ê²Œì„,2477,5937,52.939%
37318,7703,soo7652,ACM ICPC Korea Regional ë¬¸ì œì§‘,-,20041,Escaping,213,562,49.078%
...,...,...,...,...,...,...,...,...,...
37409,7703,soo7652,ACM ICPC Korea Regional ë¬¸ì œì§‘,-,9012,ê´„í˜¸,39152,119404,44.188%
37410,7703,soo7652,ACM ICPC Korea Regional ë¬¸ì œì§‘,-,9015,ì •ì‚¬ê°í˜•,339,2821,18.109%
37411,7703,soo7652,ACM ICPC Korea Regional ë¬¸ì œì§‘,-,17969,Gene Tree,127,303,61.353%
37412,7703,soo7652,ACM ICPC Korea Regional ë¬¸ì œì§‘,-,17976,Thread Knots,210,889,30.568%
37413,7703,soo7652,ACM ICPC Korea Regional ë¬¸ì œì§‘,-,17977,Triangulation,192,411,58.359%

In [211]:
print(course_detail[course_detail['course_id'] == 4357].iloc[0])
course[course['course_id'] == 4357]

course_id                                                         4357
problem_num                                                      15591
title                                                 MooTube (Silver)
correct_count                                                     1083
submmission_count                                                 3686
correct_ratio                                                  39.758%
detail               â˜…ì§ì ‘ ì½”í…Œ ê´‘íƒˆí•˜ë©´ì„œ ëª¨ì€ ë¬¸ì œë“¤â˜†ì•ˆ ì•Œë ¤ì§„ ê¿€ë¬¸ì œë“¤ ìœ„ì£¼ë¡œ ëª¨ì•˜ìŠµë‹ˆë‹¤:) - d...
Name: 251, dtype: object

,course_id,author,course_name,course_name_main,problem_num,title,correct_count,submmission_count,correct_ratio
251,4357,danimartinwife,â˜…ì§ì ‘ ì½”í…Œ ê´‘íƒˆí•˜ë©´ì„œ ëª¨ì€ ë¬¸ì œë“¤â˜†,-,15591,MooTube (Silver),1083,3686,39.758%
252,4357,danimartinwife,â˜…ì§ì ‘ ì½”í…Œ ê´‘íƒˆí•˜ë©´ì„œ ëª¨ì€ ë¬¸ì œë“¤â˜†,-,10021,Watering the Fields,291,1417,28.670%
253,4357,danimartinwife,â˜…ì§ì ‘ ì½”í…Œ ê´‘íƒˆí•˜ë©´ì„œ ëª¨ì€ ë¬¸ì œë“¤â˜†,-,17780,ìƒˆë¡œìš´ ê²Œì„,779,2256,46.067%
254,4357,danimartinwife,â˜…ì§ì ‘ ì½”í…Œ ê´‘íƒˆí•˜ë©´ì„œ ëª¨ì€ ë¬¸ì œë“¤â˜†,-,18500,ë¯¸ë„¤ë„ 2,417,1638,33.765%
255,4357,danimartinwife,â˜…ì§ì ‘ ì½”í…Œ ê´‘íƒˆí•˜ë©´ì„œ ëª¨ì€ ë¬¸ì œë“¤â˜†,-,16639,ê´„í˜¸ ì¶”ê°€í•˜ê¸° 3,249,839,42.784%
...,...,...,...,...,...,...,...,...,...
341,4357,danimartinwife,â˜…ì§ì ‘ ì½”í…Œ ê´‘íƒˆí•˜ë©´ì„œ ëª¨ì€ ë¬¸ì œë“¤â˜†,-,17788,Gluttonous Goop,41,126,35.043%
342,4357,danimartinwife,â˜…ì§ì ‘ ì½”í…Œ ê´‘íƒˆí•˜ë©´ì„œ ëª¨ì€ ë¬¸ì œë“¤â˜†,-,18606,Block Breaker,8,36,33.333%
343,4357,danimartinwife,â˜…ì§ì ‘ ì½”í…Œ ê´‘íƒˆí•˜ë©´ì„œ ëª¨ì€ ë¬¸ì œë“¤â˜†,-,2310,ì–´ë“œë²¤ì²˜ ê²Œì„,151,776,29.038%
344,4357,danimartinwife,â˜…ì§ì ‘ ì½”í…Œ ê´‘íƒˆí•˜ë©´ì„œ ëª¨ì€ ë¬¸ì œë“¤â˜†,-,6178,Lake Making,32,50,74.419%
345,4357,danimartinwife,â˜…ì§ì ‘ ì½”í…Œ ê´‘íƒˆí•˜ë©´ì„œ ëª¨ì€ ë¬¸ì œë“¤â˜†,-,6373,Round and Round We Go,43,138,39.091%

In [212]:
course_4357 = course[course['course_id'] == 4357]
course_4357[-course_4357['problem_num'].isin(set(clean_problem['problem_id']))]

,course_id,author,course_name,course_name_main,problem_num,title,correct_count,submmission_count,correct_ratio
252,4357,danimartinwife,â˜…ì§ì ‘ ì½”í…Œ ê´‘íƒˆí•˜ë©´ì„œ ëª¨ì€ ë¬¸ì œë“¤â˜†,-,10021,Watering the Fields,291,1417,28.670%
258,4357,danimartinwife,â˜…ì§ì ‘ ì½”í…Œ ê´‘íƒˆí•˜ë©´ì„œ ëª¨ì€ ë¬¸ì œë“¤â˜†,-,5852,Island Travels,29,151,29.293%
259,4357,danimartinwife,â˜…ì§ì ‘ ì½”í…Œ ê´‘íƒˆí•˜ë©´ì„œ ëª¨ì€ ë¬¸ì œë“¤â˜†,-,5827,What's Up With Gravity,79,786,18.945%
261,4357,danimartinwife,â˜…ì§ì ‘ ì½”í…Œ ê´‘íƒˆí•˜ë©´ì„œ ëª¨ì€ ë¬¸ì œë“¤â˜†,-,9874,Wormholes,51,171,37.778%
262,4357,danimartinwife,â˜…ì§ì ‘ ì½”í…Œ ê´‘íƒˆí•˜ë©´ì„œ ëª¨ì€ ë¬¸ì œë“¤â˜†,-,5901,Relocation,69,175,48.592%
263,4357,danimartinwife,â˜…ì§ì ‘ ì½”í…Œ ê´‘íƒˆí•˜ë©´ì„œ ëª¨ì€ ë¬¸ì œë“¤â˜†,-,9881,Ski Course Design,253,706,44.231%
264,4357,danimartinwife,â˜…ì§ì ‘ ì½”í…Œ ê´‘íƒˆí•˜ë©´ì„œ ëª¨ì€ ë¬¸ì œë“¤â˜†,-,13614,Ecologia,3,36,20.000%
265,4357,danimartinwife,â˜…ì§ì ‘ ì½”í…Œ ê´‘íƒˆí•˜ë©´ì„œ ëª¨ì€ ë¬¸ì œë“¤â˜†,-,13595,Mania de Par,7,41,19.444%
266,4357,danimartinwife,â˜…ì§ì ‘ ì½”í…Œ ê´‘íƒˆí•˜ë©´ì„œ ëª¨ì€ ë¬¸ì œë“¤â˜†,-,6063,Rubik's Cube,20,119,18.349%
267,4357,danimartinwife,â˜…ì§ì ‘ ì½”í…Œ ê´‘íƒˆí•˜ë©´ì„œ ëª¨ì€ ë¬¸ì œë“¤â˜†,-,10037,Decorating the Pastures,30,72,49.180%
269,4357,danimartinwife,â˜…ì§ì ‘ ì½”í…Œ ê´‘íƒˆí•˜ë©´ì„œ ëª¨ì€ ë¬¸ì œë“¤â˜†,-,14529,Where's Bessie?,47,131,41.228%
272,4357,danimartinwife,â˜…ì§ì ‘ ì½”í…Œ ê´‘íƒˆí•˜ë©´ì„œ ëª¨ì€ ë¬¸ì œë“¤â˜†,-,13604,Jogo de EstratÃ©gia,36,52,81.818%
273,4357,danimartinwife,â˜…ì§ì ‘ ì½”í…Œ ê´‘íƒˆí•˜ë©´ì„œ ëª¨ì€ ë¬¸ì œë“¤â˜†,-,13625,Boss,8,19,42.105%
274,4357,danimartinwife,â˜…ì§ì ‘ ì½”í…Œ ê´‘íƒˆí•˜ë©´ì„œ ëª¨ì€ ë¬¸ì œë“¤â˜†,-,13627,Dangerous Dive,65,90,85.526%
275,4357,danimartinwife,â˜…ì§ì ‘ ì½”í…Œ ê´‘íƒˆí•˜ë©´ì„œ ëª¨ì€ ë¬¸ì œë“¤â˜†,-,9879,Cross Country Skiing,63,131,53.846%
276,4357,danimartinwife,â˜…ì§ì ‘ ì½”í…Œ ê´‘íƒˆí•˜ë©´ì„œ ëª¨ì€ ë¬¸ì œë“¤â˜†,-,9877,Ski Course Rating,75,231,51.724%
282,4357,danimartinwife,â˜…ì§ì ‘ ì½”í…Œ ê´‘íƒˆí•˜ë©´ì„œ ëª¨ì€ ë¬¸ì œë“¤â˜†,-,17199,Milk Factory,227,488,55.501%
284,4357,danimartinwife,â˜…ì§ì ‘ ì½”í…Œ ê´‘íƒˆí•˜ë©´ì„œ ëª¨ì€ ë¬¸ì œë“¤â˜†,-,14324,Rain (Small),35,86,46.667%
285,4357,danimartinwife,â˜…ì§ì ‘ ì½”í…Œ ê´‘íƒˆí•˜ë©´ì„œ ëª¨ì€ ë¬¸ì œë“¤â˜†,-,15235,Olympiad Pizza,184,272,82.883%
287,4357,danimartinwife,â˜…ì§ì ‘ ì½”í…Œ ê´‘íƒˆí•˜ë©´ì„œ ëª¨ì€ ë¬¸ì œë“¤â˜†,-,13787,Infinity Maze,18,101,25.714%
295,4357,danimartinwife,â˜…ì§ì ‘ ì½”í…Œ ê´‘íƒˆí•˜ë©´ì„œ ëª¨ì€ ë¬¸ì œë“¤â˜†,-,12000,Circular Barn (Bronze),284,578,51.825%
296,4357,danimartinwife,â˜…ì§ì ‘ ì½”í…Œ ê´‘íƒˆí•˜ë©´ì„œ ëª¨ì€ ë¬¸ì œë“¤â˜†,-,16767,Convention II,154,374,55.596%
298,4357,danimartinwife,â˜…ì§ì ‘ ì½”í…Œ ê´‘íƒˆí•˜ë©´ì„œ ëª¨ì€ ë¬¸ì œë“¤â˜†,-,17025,Icy Perimeter,241,560,49.184%
299,4357,danimartinwife,â˜…ì§ì ‘ ì½”í…Œ ê´‘íƒˆí•˜ë©´ì„œ ëª¨ì€ ë¬¸ì œë“¤â˜†,-,5558,ãƒãƒ¼ã‚º (Cheese),505,1272,58.247%
306,4357,danimartinwife,â˜…ì§ì ‘ ì½”í…Œ ê´‘íƒˆí•˜ë©´ì„œ ëª¨ì€ ë¬¸ì œë“¤â˜†,-,5830,Bovine Ballet,21,35,60.000%
307,4357,danimartinwife,â˜…ì§ì ‘ ì½”í…Œ ê´‘íƒˆí•˜ë©´ì„œ ëª¨ì€ ë¬¸ì œë“¤â˜†,-,11964,Fruit Feast,175,491,40.603%
308,4357,danimartinwife,â˜…ì§ì ‘ ì½”í…Œ ê´‘íƒˆí•˜ë©´ì„œ ëª¨ì€ ë¬¸ì œë“¤â˜†,-,11965,Bessie's Dream,107,917,18.706%
309,4357,danimartinwife,â˜…ì§ì ‘ ì½”í…Œ ê´‘íƒˆí•˜ë©´ì„œ ëª¨ì€ ë¬¸ì œë“¤â˜†,-,15113,Grid Coloring,27,92,56.250%
310,4357,danimartinwife,â˜…ì§ì ‘ ì½”í…Œ ê´‘íƒˆí•˜ë©´ì„œ ëª¨ì€ ë¬¸ì œë“¤â˜†,-,15059,Hard choice,920,1116,87.536%
314,4357,danimartinwife,â˜…ì§ì ‘ ì½”í…Œ ê´‘íƒˆí•˜ë©´ì„œ ëª¨ì€ ë¬¸ì œë“¤â˜†,-,11996,Circular Barn (Silver),103,280,51.500%
315,4357,danimartinwife,â˜…ì§ì ‘ ì½”í…Œ ê´‘íƒˆí•˜ë©´ì„œ ëª¨ì€ ë¬¸ì œë“¤â˜†,-,12467,Rains Over Atlantis (Small),2,8,28.571%
323,4357,danimartinwife,â˜…ì§ì ‘ ì½”í…Œ ê´‘íƒˆí•˜ë©´ì„œ ëª¨ì€ ë¬¸ì œë“¤â˜†,-,11975,Build Gates,94,228,57.669%
324,4357,danimartinwife,â˜…ì§ì ‘ ì½”í…Œ ê´‘íƒˆí•˜ë©´ì„œ ëª¨ì€ ë¬¸ì œë“¤â˜†,-,11997,Load Balancing (Silver),230,788,39.316%
325,4357,danimartinwife,â˜…ì§ì ‘ ì½”í…Œ ê´‘íƒˆí•˜ë©´ì„œ ëª¨ì€ ë¬¸ì œë“¤â˜†,-,10674,Meeting Time,50,137,51.546%
326,4357,danimartinwife,â˜…ì§ì ‘ ì½”í…Œ ê´‘íƒˆí•˜ë©´ì„œ ëª¨ì€ ë¬¸ì œë“¤â˜†,-,10530,Flowery Trails,37,93,64.912%
327,4357,danimartinwife,â˜…ì§ì ‘ ì½”í…Œ ê´‘íƒˆí•˜ë©´ì„œ ëª¨ì€ ë¬¸ì œë“¤â˜†,-,3482,Labyrinth,164,742,30.370%
328,4357,danimartinwife,â˜…ì§ì ‘ ì½”í…Œ ê´‘íƒˆí•˜ë©´ì„œ ëª¨ì€ ë¬¸ì œë“¤â˜†,-,8061,Bitmap,132,391,44.295%
329,4357,danimartinwife,â˜…ì§ì ‘ ì½”í…Œ ê´‘íƒˆí•˜ë©´ì„œ ëª¨ì€ ë¬¸ì œë“¤â˜†,-,10259,Amanda Lounges,38,134,30.894%
330,4357,danimartinwife,â˜…ì§ì ‘ ì½”í…Œ ê´‘íƒˆí•˜ë©´ì„œ ëª¨ì€ ë¬¸ì œë“¤â˜†,-,4347,Tic Tac Toe,54,314,24.885%
341,4357,danimartinwife,â˜…ì§ì ‘ ì½”í…Œ ê´‘íƒˆí•˜ë©´ì„œ ëª¨ì€ ë¬¸ì œë“¤â˜†,-,17788,Gluttonous Goop,41,126,35.043%
342,4357,danimartinwife,â˜…ì§ì ‘ ì½”í…Œ ê´‘íƒˆí•˜ë©´ì„œ ëª¨ì€ ë¬¸ì œë“¤â˜†,-,18606,Block Breaker,8,36,33.333%
344,4357,danimartinwife,â˜…ì§ì ‘ ì½”í…Œ ê´‘íƒˆí•˜ë©´ì„œ ëª¨ì€ ë¬¸ì œë“¤â˜†,-,6178,Lake Making,32,50,74.419%
345,4357,danimartinwife,â˜…ì§ì ‘ ì½”í…Œ ê´‘íƒˆí•˜ë©´ì„œ ëª¨ì€ ë¬¸ì œë“¤â˜†,-,6373,Round and Round We Go,43,138,39.091%

In [93]:
course.head()

,course_id,author,course_name,course_name_main,problem_num,title,correct_count,submmission_count,correct_ratio
0,1152,baekjoon,ì‚¼ì„± SW ì—­ëŸ‰ í…ŒìŠ¤íŠ¸ ê¸°ì¶œ ë¬¸ì œ,-,13460,êµ¬ìŠ¬ íƒˆì¶œ 2,10095,63196,26.728%
1,1152,baekjoon,ì‚¼ì„± SW ì—­ëŸ‰ í…ŒìŠ¤íŠ¸ ê¸°ì¶œ ë¬¸ì œ,-,12100,2048 (Easy),9665,60182,25.519%
2,1152,baekjoon,ì‚¼ì„± SW ì—­ëŸ‰ í…ŒìŠ¤íŠ¸ ê¸°ì¶œ ë¬¸ì œ,-,3190,ë±€,13003,48024,39.111%
3,1152,baekjoon,ì‚¼ì„± SW ì—­ëŸ‰ í…ŒìŠ¤íŠ¸ ê¸°ì¶œ ë¬¸ì œ,-,13458,ì‹œí—˜ ê°ë…,14161,67487,27.603%
4,1152,baekjoon,ì‚¼ì„± SW ì—­ëŸ‰ í…ŒìŠ¤íŠ¸ ê¸°ì¶œ ë¬¸ì œ,-,14499,ì£¼ì‚¬ìœ„ êµ´ë¦¬ê¸°,11132,35791,43.181%

In [101]:
codeplus = course[course['course_name_main'] != '-']
plain_course = course[course['course_name_main'] == '-']

In [130]:
course_group = plain_course.groupby('course_name')[['title']].agg('count').reset_index()
more10_problems_lst = list(course_group[course_group['title'] > 10]['course_name'])

plain_course[plain_course['course_name'].isin(more10_problems_lst)]

,course_id,author,course_name,course_name_main,problem_num,title,correct_count,submmission_count,correct_ratio
0,1152,baekjoon,ì‚¼ì„± SW ì—­ëŸ‰ í…ŒìŠ¤íŠ¸ ê¸°ì¶œ ë¬¸ì œ,-,13460,êµ¬ìŠ¬ íƒˆì¶œ 2,10095,63196,26.728%
1,1152,baekjoon,ì‚¼ì„± SW ì—­ëŸ‰ í…ŒìŠ¤íŠ¸ ê¸°ì¶œ ë¬¸ì œ,-,12100,2048 (Easy),9665,60182,25.519%
2,1152,baekjoon,ì‚¼ì„± SW ì—­ëŸ‰ í…ŒìŠ¤íŠ¸ ê¸°ì¶œ ë¬¸ì œ,-,3190,ë±€,13003,48024,39.111%
3,1152,baekjoon,ì‚¼ì„± SW ì—­ëŸ‰ í…ŒìŠ¤íŠ¸ ê¸°ì¶œ ë¬¸ì œ,-,13458,ì‹œí—˜ ê°ë…,14161,67487,27.603%
4,1152,baekjoon,ì‚¼ì„± SW ì—­ëŸ‰ í…ŒìŠ¤íŠ¸ ê¸°ì¶œ ë¬¸ì œ,-,14499,ì£¼ì‚¬ìœ„ êµ´ë¦¬ê¸°,11132,35791,43.181%
...,...,...,...,...,...,...,...,...,...
48832,41,myzmd,ì•Œê³ í™€ë¦­ì‹«ì–´,-,1019,ì±… í˜ì´ì§€,2641,11736,39.424%
48833,41,myzmd,ì•Œê³ í™€ë¦­ì‹«ì–´,-,1068,íŠ¸ë¦¬,6524,31630,27.231%
48834,41,myzmd,ì•Œê³ í™€ë¦­ì‹«ì–´,-,1157,ë‹¨ì–´ ê³µë¶€,50975,161280,39.177%
48835,41,myzmd,ì•Œê³ í™€ë¦­ì‹«ì–´,-,1992,ì¿¼ë“œíŠ¸ë¦¬,13972,28842,61.032%
48836,41,myzmd,ì•Œê³ í™€ë¦­ì‹«ì–´,-,2957,ì´ì§„ íƒìƒ‰ íŠ¸ë¦¬,660,6291,23.741%

In [123]:
codeplus_group = codeplus.groupby('course_name')[['title']].agg('count')
codeplus_group.describe()

            title
count  102.000000
mean     8.647059
std      6.347444
min      1.000000
25%      4.000000
50%      8.000000
75%     11.000000
max     39.000000